{% extends 'main/base-expanded.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/activity-comment.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="selection-menu">
    <span class="selection-menu-title">The comments you wrote</span>
    <div class="selection-menu-line"></div>
    <div class="selection-menu-container">

    {% if comments|length == 0%}
        <span class="nothing">Nothing here</span>
    {% else %}

        {% for comment in comments %}
            <a href="{% url 'post' pk=comment.post.pk %}" class="selection-menu-button">
                <img class="selection-menu-button-svg" src="{% static 'main/svg/comment-dots.svg' %}" alt="svg-image">
                <span class="selection-menu-button-name">{{ comment.content }}</span>
                <img class="selection-menu-button-svg" style="margin-left: auto" src="{% static 'main/svg/right-arrow.svg' %}" alt="svg-image">
            </a>
        {% endfor %}
    {% endif %}
        
    </div>

</div>

<script src="{% static 'main/JS/api-activity-comment.js' %}"></script>
<script>
    var svgCommentDots = "{% static 'main/svg/comment-dots.svg' %}";
    var svgRightArrow = "{% static 'main/svg/right-arrow.svg' %}";
</script>

{% endblock %}