{% extends 'main/base-expanded.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/activity-stories.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="selection-menu">
    <span class="selection-menu-title">Your stories history</span>
    <div class="selection-menu-line"></div>
    <div class="selection-menu-container">

        {% if stories|length == 0%}
            <span class="nothing">Nothing here</span>
        {% else %}

        {% for story in stories %}

        <a href='/story/{{ user_profile.username }}/?story_id={{story.pk}}&activity=True&redirect_to={% url "activity_stories" %}' class="ccc-story-container">
            <img class="ccc-story-icon-img" src="{% static 'main/svg/story.svg' %}" alt="story-svg">
            <div class="ccc-story-header">
                <img class="ccc-story-header-img" src="{{ user_profile.profile.avatar.url }}" alt="{{ user_profile.username }}'s image">
                <span>{{ user_profile.profile.full_name }}</span>
            </div>
            <video class="ccc-story-img" src="{{ story.video_content.url }}" alt="shared-story" preload="auto"></video>
        </a>

        {% endfor %}
        {% endif %}

    </div>

</div>

<script src="{% static 'main/JS/api-activity-story.js' %}"></script>
<script>
    var svgStory = "{% static 'main/svg/story.svg' %}";
</script>

{% endblock %}