{% extends 'main/base-expanded.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/activity-stories.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="selection-menu">
    <span class="selection-menu-title">Your stories history</span>
    <div class="selection-menu-line"></div>
    <div class="selection-menu-container">

        {% for story in stories %}

        <a href='/story/{{ user_profile.username }}/?story_id={{story.pk}}&activity=True&redirect_to={% url "activity_stories" %}' class="ccc-story-container">
            <img class="ccc-story-icon-img" src="{% static 'main/svg/story.svg' %}" alt="story-svg">
            <div class="ccc-story-header">
                <img class="ccc-story-header-img" src="{{ user_profile.profile.avatar.url }}" alt="{{ user_profile.username }}'s image">
                <span>{{ user_profile.profile.full_name }}</span>
            </div>
            <img class="ccc-story-img" src="{% static 'main/images/p1.jpg' %}" alt="shared-story">
        </a>

        {% endfor %}

    </div>

</div>

{% endblock %}