{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/' %}{{ background_style }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/images/logo-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/images/logo-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/logo-16x16.png' %}">
    <title>{{title}}</title>
    {% block head %}
    {% endblock %}
</head>
<body>

    <div class="message-notification">
        <!-- <div class="message-notification-content" onclick="hideMessageNotification(this)">
            <img class="message-notification-content-image" src="{% static 'main/images/p1.jpg' %}"  alt="user's avatar">
            <div class="message-notification-content-info">
                <span class="message-notification-content-info-username">Emmanuel Shamsulin</span>
                <span class="message-notification-content-info-message">Привет как у тебя дела что ты делашь аылващл ащылазщв ылзщал ызщвалзыщ лвазщылвза щлывщзал ыщзвлващз ылвазщлыв азщшл</span>
                <span class="message-notification-content-info-data">id</span>
            </div>
        </div> -->
    </div>

    <div class="notifications"></div>

    <div class="full-screen-photo" onclick="offFullScreenPhoto()">
        <span class="full-screen-span">Full screen mode</span>
        <img class="full-screen-content" onclick="event.stopPropagation()">
    </div>

    <div class="confirm-dialog">
        <div class="confirm-dialog-cancel"></div>
        <div class="confirm-dialog-container">
            <span class="confirm-dialog-header">Сonfirm the action</span>
            <span class="confirm-dialog-span"></span>
            <div class="confirm-dialog-buttons">
                <div class="confirm-dialog-buttons-yes">Yes</div>
                <div class="confirm-dialog-buttons-no">No</div>
            </div>
        </div>
    </div>
    
    {% block body %}
    {% endblock %}
</body>

<script>
    const notificationImgs = ["{% static 'main/svg/tick.svg' %}",
                              "{% static 'main/svg/exclamation.svg' %}",
                              "{% static 'main/svg/cross.svg' %}"];

    var uuid = '{{ user_profile.profile.uuid}}';
    var websocketChat = null
    var chatId = null;
    var myName = '{{ user_profile.username }}';
    var myFullName = '{{ user_profile.username }}';
    var userId = parseInt('{{ user_profile.pk}}')
    var callToUser;
    var myAvatarUrl = '{{ user_profile.profile.avatar.url }}';
</script>

{% if user_profile.profile.uuid %}
    <script src="{% static 'main/JS/websocket.js' %}"></script>
{% endif %}

<script src="{% static 'main/JS/base.js' %}"></script>
<script src="{% static 'main/JS/emoji.js' %}"></script>
<script src="{% static 'main/JS/notification.js' %}"></script>
<script src="{% static 'main/JS/dialog.js' %}"></script>

<script src="{% static 'main/JS/presentation.js' %}"></script>

<script>
    // var emoji = emoji;
    // var emojiPopular = emojiPopular;
    // var emoji_names = emoji_names;

    var notification = notification;
    var confirmationDialog = confirmationDialog;
    var hideMessageNotification = hideMessageNotification;
    var showMessageNotification = showMessageNotification;
    var offFullScreenPhoto = offFullScreenPhoto;
    var OnFullScreenPhoto = OnFullScreenPhoto;
    var showMobileMenu = showMobileMenu;

    var userNamesNotification = {43: 'Abdurosik Mahachkala'};
    var userAvatarsNotification = {43: '{% static "main/images/p1.jpg" %}'};

    var newMessageSound = '{% static "main/sounds/new_message.mp3" %}';
</script>

</html>