{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/chat.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="message-actions" onclick="hideMessageActions()">
    <div class="message-actions-container" onclick="event.stopPropagation()">
        <span class="message-actions-container-span">Actions buttons</span>
        <div class="message-actions-reactions-container">
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">❤️</div>
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">👍</div>
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">👎</div>
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">🔥</div>
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">🥰</div>
            <div class="message-actions-reaction" onclick="setReactionEmoji()">
                <img class="message-actions-reaction-full" src="{% static 'main/svg/down-arrow.svg' %}"  alt="svg image">
            </div>
            <div class="message-actions-reaction-emoji">
                <header class="message-actions-reaction-emoji-header">Emoji 
                    <img class="message-actions-reaction-emoji-close" src="{% static 'main/svg/close.svg' %}" onclick="closesetReactionEmoji()" alt="svg image">
                </header>
                <div class="message-actions-reaction-emoji-container"></div>
            </div>
        </div>
        <div class="message-actions-button message-actions-button-reply" onclick="messageReply()">Reply</div>
        <div class="message-actions-button red-button" onclick="deleteMessage(messageActionsId, chatId)">Delete</div>
    </div>
</div>

<div class="message-reaction" onclick="hideMessageReactions()">
    <div class="message-reaction-container" onclick="event.stopPropagation()">
        <span class="message-reaction-title">Message Reactions</span>
        <span class="message-reaction-loading">Click on the reaction to remove it</span>
        <div class="message-reactions-content custom-scrollbar">
            <div id="123" class="message-reactions-content-reaction">
                Egor KRID <div>💩</div>
            </div>
            <div id="123" class="message-reactions-content-reaction">
                Egor KRID <div>💩</div>
            </div>
        </div>
    </div>
</div>

<main class="chat">
    <aside class="chat-contacts">
        <header class="chat-contacts-header">
            Chats
        </header>

        
        <section class="chat-contacts-section custom-scrollbar">

            <!-- <span class="chat-contacts-section-null">You have no active chat now</span> -->

            <div chat-id="23" class="chat-contacts-section-container" onclick="openChat(this)">
                <a href="#" class="ccs-container-story">
                    <div chat-id="23" class="ccs-container-last-activity">online</div>
                    <div chat-id="23" class="ccs-container-online" title="Online"></div>
                    <img chat-id="23" class="ccs-container-avatar" src="{% static 'main/images/p1.jpg' %}"  alt="user's avatar">
                </a>
            <!-- <div class="ccs-container-avatar-container">
                    <div chat-id="23" class="ccs-container-online"></div>
                    <img chat-id="23" class="ccs-container-avatar" src="{% static 'main/images/p1.jpg' %}" alt="user's avatar">
                </div> -->

                <div class="ccs-container-info">
                    <div class="ccs-container-info-message-container">
                        <div chat-id="23" class="ccs-container-info-name">
                            Emmanuel Shamsulin
                            <img class="user-verify user-verify-small" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="verified">
                        </div>
                        <div chat-id="23" class="ccs-container-info-message-time">20:40</div>
                    </div>
                    <div chat-id="23" class="ccs-container-info-message-container-second">
                        <div chat-id="23" class="ccs-container-info-message">Я вчера очень приочень вкусно поел кащи</div>
                        <div chat-id="23" class="ccs-container-info-message-count">2</div>
                    </div>
                </div>
            </div>



            <div chat-id="24" class="chat-contacts-section-container" onclick="openChat(this)">
                <!-- <a href="#" class="ccs-container-story">
                    <div chat-id="24" class="ccs-container-online" title="Online"></div>
                    <img chat-id="24" class="ccs-container-avatar" src="{% static 'main/images/p1.jpg' %}" alt="user's avatar">
                </a> -->
            <div class="ccs-container-avatar-container">
                    <div chat-id="24" class="ccs-container-last-activity">online</div>
                    <div chat-id="24" class="ccs-container-online"></div>
                    <img chat-id="24" class="ccs-container-avatar" src="{% static 'main/images/p2.jpg' %}" alt="user's avatar">
                </div>

                <div class="ccs-container-info">
                    <div class="ccs-container-info-message-container">
                        <div chat-id="24" class="ccs-container-info-name">
                            Ryan Libre
                            <img class="user-verify user-verify-small" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="verified">
                        </div>
                        <div chat-id="24" class="ccs-container-info-message-time">20:40</div>
                    </div>
                    <div chat-id="24" class="ccs-container-info-message-container-second">
                        <div chat-id="24" class="ccs-container-info-message">Я вчера очень приочень вкусно поел кащи</div>
                        <div chat-id="24" class="ccs-container-info-message-count">4</div>
                    </div>
                </div>
            </div>


            <div chat-id="25" class="chat-contacts-section-container" onclick="openChat(this)">
                <a href="#" class="ccs-container-story">
                    <div chat-id="25" class="ccs-container-last-activity">onlisadne</div>
                    <div chat-id="25" class="ccs-container-online" title="Online"></div>
                    <img chat-id="25" class="ccs-container-avatar" src="{% static 'main/images/p1.jpg' %}" alt="user's avatar">
                </a>
            <!-- <div class="ccs-container-avatar-container">
                    <div chat-id="25" class="ccs-container-online"></div>
                    <img chat-id="25" class="ccs-container-avatar" src="{% static 'main/images/p1.jpg' %}" alt="user's avatar">
                </div> -->

                <div class="ccs-container-info">
                    <div class="ccs-container-info-message-container">
                        <div chat-id="25" class="ccs-container-info-name">
                            Emmanuel Shamsulin
                            <img class="user-verify user-verify-small" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="verified">
                        </div>
                        <div chat-id="25" class="ccs-container-info-message-time">20:40</div>
                    </div>
                    <div chat-id="25" class="ccs-container-info-message-container-second">
                        <div chat-id="25" class="ccs-container-info-message">Я вчера очень приочень вкусно поел кащи</div>
                        <div chat-id="25" class="ccs-container-info-message-count">2</div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="chat-contacts-footer">
            <a class="chat-contacts-footer-button" href="#">
                <img class="chat-contacts-footer-button-img" src="{% static 'main/svg/home-sidebar.svg' %}" 
                    title="Home" alt="svg-image">
            </a>
            <a class="chat-contacts-footer-button" href="#">
                <img class="chat-contacts-footer-button-img" src="{% static 'main/svg/search-sidebar.svg' %}" 
                    title="Search"  alt="svg-image">
            </a>
            <a class="chat-contacts-footer-button" href="#">
                <div class="chat-contacts-footer-button-notify">12</div>
                <img class="chat-contacts-footer-button-img" src="{% static 'main/svg/notification-sidebar.svg' %}" 
                    title="Notifications"  alt="svg-image">
            </a>
            <a class="chat-contacts-footer-button" href="#">
                <img class="chat-contacts-footer-button-img" src="{% static 'main/svg/profile.svg' %}" 
                    title="Profile"  alt="svg-image">
            </a>
        </footer>
    </aside>

    <div class="chat-content">
        <div class="chat-content-file-drag">
            <div class="chat-content-file-drag-text">Drag the file here</div>
        </div>
        <header class="chat-content-header">
            <div class="chat-content-header-back" onclick="closeChat()">
                <img class="chat-content-header-back-img" src="{% static 'main/svg/back.svg' %}" alt="svg-image">
                Back
            </div>
            <a href="#" class="chat-content-header-a">
                <div class="chat-content-header-userinfo">
                    <span class="chat-content-header-userinfo-username">
                        Emmanuel Shamsulin
                        <img class="user-verify" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="verified">
                    </span>
                    <span class="chat-content-header-userinfo-activity">online</span>
                </div>
            </a>
            <img class="chat-content-header-avatar" src="{% static 'main/images/p1.jpg' %}" alt="user's avatar">
                <div class="chat-content-header-buttons">
                    <a href="#"><img class="chat-content-header-buttons-img" src="{% static 'main/svg/audio-call.svg' %}" alt="svg-image"></a>
                    <a href="#"><img class="chat-content-header-buttons-img" src="{% static 'main/svg/video-call.svg' %}" alt="svg-image"></a>
                </div>  
        </header>

        <!-- <section chat-id="23" class="chat-content-chat">

            <div class="ccc-container">
                <div class="ccc-date">29 September 2023</div>
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <div class="ccc-message-text">
                    <div message-id="4" class="ccc-reactions" onclick="messageReactions(this)">❤️</div>
                    <span class="ccc-message-text-span">Всё привет!!! у кого как дела! вы делаете?</span>
                    <span class="ccc-message-time">23:40</span>
                    <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                </div>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <div class="ccc-message-text ccc-contrary">
                    <div class="ccc-reactions">❤️</div>
                    <span class="ccc-message-text-span">Всё привет!!! у кого как дела! вы делаете?</span>
                    <span class="ccc-message-time">23:40</span>
                </div>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <div class="ccc-message-text-reply">
                    <a href="#" class="ccc-message-reply">
                        <span class="ccc-message-reply-span">Egor: dfgsdfsdfsdf sdf sdf sdfsdffdg</span>
                    </a>
                    <div class="ccc-message-container">
                        <span class="ccc-message-text-span">Всё привет!!! у кого как дела! вы делаете?</span>
                        <span class="ccc-message-time">23:40</span>
                        <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </div>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <div class="ccc-message-text-reply ccc-contrary">
                    <a href="#" class="ccc-message-reply">
                        <span class="ccc-message-reply-span">Egor: dfgsdfsdfsdf sdf sdf sdfsdffdg</span>
                    </a>
                    <div class="ccc-message-container">
                        <span class="ccc-message-text-span">Всё привет!!! у кого как дела! вы делаете?</span>
                        <span class="ccc-message-time">23:40</span>
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </div>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <div class="ccc-media">
                    <div class="ccc-media-info">
                        23:50
                        <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                    </div>
                    <img class="ccc-media-content" src="{% static 'main/images/p1.jpg' %}" onclick="OnFullScreenPhoto(this)" alt="user's img">
                    <div class="ccc-reactions">❤️</div>
                </div>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <div class="ccc-media ccc-contrary-media">
                    <div class="ccc-media-info">
                        23:50
                    </div>
                    <img class="ccc-media-content" src="{% static 'main/images/p1.jpg' %}" onclick="OnFullScreenPhoto(this)" alt="user's img">
                    <div class="ccc-reactions">❤️</div>
                </div>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <div class="ccc-media">
                    <div class="ccc-media-info">
                        23:50
                        <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                    </div>
                    <video controls class="ccc-media-content" alt="user's video">
                        <source src="{% static 'main/images/v1.mp4' %}">
                    </video>
                    <div class="ccc-reactions">❤️</div>
                </div>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <div class="ccc-media ccc-contrary-media">
                    <div class="ccc-media-info">
                        23:50
                    </div>
                    <video controls class="ccc-media-content" alt="user's video">
                        <source src="{% static 'main/images/v1.mp4' %}">
                    </video>
                    <div class="ccc-reactions">❤️</div>
                </div>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <div class="ccc-media-text">
                    <img class="ccc-media-content" src="{% static 'main/images/p2.jpg' %}" onclick="OnFullScreenPhoto(this)" alt="user's img">
                    <div class="ccc-message-container-media">
                        <span class="ccc-message-text-span">Всё привет!!! у когоdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd как дела! вы делаете?</span>
                        <span class="ccc-message-time">23:40</span>
                        <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </div>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <div class="ccc-media-text ccc-contrary-media">
                    <img class="ccc-media-content" src="{% static 'main/images/ilon.jpg' %}" onclick="OnFullScreenPhoto(this)" alt="user's img">
                    <div class="ccc-message-container-media">
                        <span class="ccc-message-text-span">Всё привет!!! у когоdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd как дела! вы делаете?</span>
                        <span class="ccc-message-time">23:40</span>
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </div>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <div class="ccc-media-text">
                    <video controls class="ccc-media-content" alt="user's video">
                        <source src="{% static 'main/images/v1.mp4' %}">
                    </video>
                    <div class="ccc-message-container-media">
                        <span class="ccc-message-text-span">Всё привет!!! у когоdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd как дела! вы делаете?</span>
                        <span class="ccc-message-time">23:40</span>
                        <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </div>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <div class="ccc-media-text ccc-contrary-media">
                    <video controls class="ccc-media-content" alt="user's video">
                        <source src="{% static 'main/images/v1.mp4' %}">
                    </video>
                    <div class="ccc-message-container-media">
                        <span class="ccc-message-text-span">Всё привет!!! у когоdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd как дела! вы делаете?</span>
                        <span class="ccc-message-time">23:40</span>
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </div>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <div class="ccc-audio-container">
                    <audio controls src="{% static 'main/sounds/d.mp3' %}"></audio>
                    <span class="ccc-message-time">23:40</span>
                    <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                    <div class="ccc-reactions">❤️ 👍 😃 😂 💩</div>
                </div>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <div class="ccc-audio-container ccc-contrary-audio">
                    <audio controls src="{% static 'main/sounds/d.mp3' %}"></audio>
                    <span class="ccc-message-time">23:40</span>
                    <div class="ccc-reactions">❤️</div>
                </div>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <a class="ccc-file-container" href="{% static 'main/sounds/d.mp3' %}" download>
                    <img class="ccc-file-img" src="{% static 'main/svg/file.svg'%}" alt="svg-image">
                    <div class="ccc-file-info">
                        <span class="ccc-file-info-name">tochno_ne_virus_otvechau.exe</span>
                        <div class="ccc-file-info-info">
                            <span class="ccc-file-size">123.4kb</span>
                            <span class="ccc-message-time">23:40</span>
                            <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                        </div>
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </a>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <a class="ccc-file-container ccc-contrary" href="{% static 'main/sounds/d.mp3' %}" download>
                    <img class="ccc-file-img" src="{% static 'main/svg/file.svg'%}" alt="svg-image">
                    <div class="ccc-file-info">
                        <span class="ccc-file-info-name">tochno_ne_virus_otvechau.exe</span>
                        <div class="ccc-file-info-info">
                            <span class="ccc-file-size">123.4kb</span>
                            <span class="ccc-message-time">23:40</span>
                        </div>
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </a>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <div class="ccc-call-container">
                    <div class="ccc-call-info-container">
                        <span class="ccc-call-name">Outgoing call</span>
                        <span class="ccc-call-time">23:50, 2m 34s</span>
                    </div>
                    <img class="ccc-call-img" src="{% static 'main/svg/audio-call.svg' %}" alt="svg-image">
                    <div class="ccc-reactions">❤️</div>
                </div>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <div class="ccc-call-container ccc-contrary">
                    <div class="ccc-call-info-container">
                        <span class="ccc-call-name">Incoming call</span>
                        <span class="ccc-call-time">23:50, 2m 34s</span>
                    </div>
                    <img class="ccc-call-img" src="{% static 'main/svg/audio-call.svg' %}" alt="svg-image">
                    <div class="ccc-reactions">❤️</div>
                </div>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <div class="ccc-call-container">
                    <div class="ccc-call-info-container">
                        <span class="ccc-call-name">Outgoing video call</span>
                        <span class="ccc-call-time">23:50, 2m 34s</span>
                    </div>
                    <img class="ccc-call-img" src="{% static 'main/svg/video-call.svg' %}" alt="svg-image">
                    <div class="ccc-reactions">❤️</div>
                </div>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <div class="ccc-call-container ccc-contrary">
                    <div class="ccc-call-info-container">
                        <span class="ccc-call-name">Incoming video call</span>
                        <span class="ccc-call-time">23:50, 2m 34s</span>
                    </div>
                    <img class="ccc-call-img" src="{% static 'main/svg/video-call.svg' %}" alt="svg-image">
                    <div class="ccc-reactions">❤️</div>
                </div>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <a href="#" class="ccc-post-container">
                    <img class="ccc-call-img" src="{% static 'main/svg/post.svg' %}" alt="svg-image">
                    <div class="ccc-file-info">
                        <span class="ccc-file-info-name">View post</span>
                        <div class="ccc-file-info-info">
                            <span class="ccc-message-time">23:40</span>
                            <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                        </div>
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </a>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <a href="#" class="ccc-post-container ccc-contrary">
                    <img class="ccc-call-img" src="{% static 'main/svg/post.svg' %}" alt="svg-image">
                    <div class="ccc-file-info">
                        <span class="ccc-file-info-name">View post</span>
                        <div class="ccc-file-info-info">
                            <span class="ccc-message-time">23:40</span>
                        </div>
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </a>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>



            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <img message-id="1" class="ccc-container-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
                <a href="#" class="ccc-story-container">
                    <img class="ccc-story-icon-img" src="{% static 'main/svg/story.svg' %}" alt="story-svg">
                    <div class="ccc-story-header">
                        <img class="ccc-story-header-img" src="{% static 'main/images/ilon.jpg' %}" alt="story's image">
                        <span>Emmanuel Shamsulin</span>
                    </div>
                    <img class="ccc-story-img" src="{% static 'main/images/p1.jpg' %}"alt="shared-story">
                    <div class="ccc-media-info">
                        23:50
                        <img class="ccc-message-view" src="{% static 'main/svg/tick-blue.svg' %}" alt="svg-view">
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </a>
            </div>

            <div class="ccc-container" onclick="doubleClickMessage(this)">
                <a href="#" class="ccc-story-container ccc-contrary">
                    <img class="ccc-story-icon-img" src="{% static 'main/svg/story.svg' %}" alt="story-svg">
                    <div class="ccc-story-header">
                        <img class="ccc-story-header-img" src="{% static 'main/images/ilon.jpg' %}" alt="story's image">
                        <span>Emmanuel Shamsulin</span>
                    </div>
                    <img class="ccc-story-img" src="{% static 'main/images/p1.jpg' %}" alt="shared-story">
                    <div class="ccc-media-info">
                        23:50
                    </div>
                    <div class="ccc-reactions">❤️</div>
                </a>
                <img message-id="1" class="ccc-container-additional ccc-contrary-additional" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-additional" onclick="showMessageActions(this)">
            </div>

        </section> -->

        <section class="chat-content-input">

            <div class="chat-content-input-file-container">
                <div class="cci-file-type-container">
                    <div class="cci-file-type">
                        <img class="cci-file-type-img" src="{% static 'main/svg/file-plus.svg' %}" alt="svg-image">
                    </div>
                    <span class="cci-file-type-text">File</span>
                </div>
                <span class="cci-file-filename">filename</span>
                <img class="cci-file-filecontent" src="{% static 'main/images/p1.jpg' %}" alt="file-image" onclick="OnFullScreenPhoto(this)">
                <video class="cci-file-filecontent-video" muted="true" autoplay="true" loop>
                    <source class="cci-file-filecontent-video-source" src="{% static 'main/images/v2.mp4' %}">
                    Ваш браузер не поддерживает тег video.
                </video>
                <audio controls class="cci-file-filecontent-audio"></audio>
                <div class="cci-file-buttons">
                    <div class="cci-file-cancel" onclick="closeFileInput()">Cancel</div>
                    <div class="cci-file-send"><img class="cci-file-send-img" src="{% static 'main/svg/send.svg' %}" alt="send-img"></div>
                </div>
            </div>

            <div class="chat-content-input-reply" onclick="hideReplyContainer()">
                <span class="chat-content-input-reply-title">Reply, click to cancel</span>
                <span class="chat-content-input-reply-message">message</span>
            </div>
            <div class="chat-content-input-container">
                <!-- <div class='chat-content-input-container-emoji'>
                    <span class="chat-content-input-container-emoji-title">Travel</span>
                    <div class="chat-content-input-container-emoji-container">
                        <div class="chat-content-input-container-emoji-emoji">❤️</div>
                        <div class="chat-content-input-container-emoji-emoji">❤️</div>
                        <div class="chat-content-input-container-emoji-emoji">❤️</div>
                    </div>
                </div> -->

                <div class="chat-content-input-scrollDown" onclick="scrollToBottomAnyway()">
                    <img class="chat-content-input-scrollDown-img" src="{% static 'main/svg/down.svg' %}" alt="svg-image">
                </div>

                <div class="chat-content-input-file">
                    <input type="file" class="chat-content-input-file-input" onchange="openFileButton(this)">
                    <img class="chat-content-input-file-img" src="{% static 'main/svg/input-file.svg' %}" alt="input-file">
                </div>
                <div class="chat-content-input-message-container">
                    <!-- <input type="text" class="chat-content-input-message" oninput="chatChangeSendInputButton()"> -->
                </div>

                <div class="chat-content-input-emoji" onclick="openEmoji()">
                    <img class="chat-content-input-file-img" src="/static/main/svg/emoji-smile.svg" alt="input-file">
                </div>

                <div class="chat-content-input-audio" onclick="onContentAudio()">
                    <img class="chat-content-input-message-img" src="{% static 'main/svg/mic.svg' %}" alt="audio-img">
                </div>
                <!-- <div class="chat-content-input-send">
                    <img class="chat-content-input-send-img" src="{% static 'main/svg/send.svg' %}" alt="send-img">
                </div> -->
            </div>
        </section>

        <section class="chat-content-audio">
            <div class="chat-content-audio-record">
                <div class="chat-content-audio-left">
                    <img class="chat-content-audio-record-trash-img" src="{% static 'main/svg/trash.svg' %}" alt="svg-img">
                </div>
                <span class="chat-content-audio-record-span">Recording...</span>
                <img class="chat-content-audio-record-send-img" src="{% static 'main/svg/send.svg' %}" alt="svg-img">
            </div>
        </section>
    </div>
</main>

<script>
    var inputAudioImg = "{% static 'main/svg/mic.svg' %}";
    var inputSendImg = "{% static 'main/svg/send.svg' %}";

    var svgTickBlue = "{% static 'main/svg/tick-blue.svg' %}";
    var svgTickWhite = "{% static 'main/svg/tick-white.svg' %}";
    var svgAdditional = "{% static 'main/svg/dots-vertical.svg' %}";
    var svgFile = "{% static 'main/svg/file.svg'%}";
    var svgCall = "{% static 'main/svg/audio-call.svg' %}";
    var svgVideoCall = "{% static 'main/svg/video-call.svg' %}";
    var svgPost = "{% static 'main/svg/post.svg' %}";
    var svgStory = "{% static 'main/svg/story.svg' %}";
    var svgFilePlus = "{% static 'main/svg/file-plus.svg' %}";
    var svgMusic = "{% static 'main/svg/music.svg' %}";
    var svgVideo = "{% static 'main/svg/play.svg' %}";
    var svgImage = "{% static 'main/svg/photos.svg' %}";
    var svgVerify = "{% static 'main/svg/verify.svg' %}";

    var testpicture = "{% static 'main/images/ilon.jpg' %}"
    var testvideo = "{% static 'main/images/v1.mp4' %}"
    var testaudio = "{% static 'main/sounds/d.mp3' %}"

    var newMessagePlate = [];
    var chatId = null;
</script>
<script src="{% static 'main/JS/chat.js' %}"></script>
<script src="{% static 'main/JS/chat-ws.js' %}"></script>
{% endblock %}