{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/chat.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="message-actions" onclick="hideMessageActions()">
    <div class="message-actions-container" onclick="event.stopPropagation()">
        <span class="message-actions-container-span">Actions buttons</span>
        <div class="message-actions-reactions-container">
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">❤️</div>
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">👍</div>
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">👎</div>
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">🔥</div>
            <div class="message-actions-reaction" onclick="setReactionMessage(this, messageActionsId)">🥰</div>
            <div class="message-actions-reaction" onclick="setReactionEmoji()">
                <img class="message-actions-reaction-full" src="{% static 'main/svg/down-arrow.svg' %}"  alt="svg image">
            </div>
            <div class="message-actions-reaction-emoji">
                <header class="message-actions-reaction-emoji-header">Emoji 
                    <img class="message-actions-reaction-emoji-close" src="{% static 'main/svg/close.svg' %}" onclick="closesetReactionEmoji()" alt="svg image">
                </header>
                <div class="message-actions-reaction-emoji-container"></div>
            </div>
        </div>
        <div class="message-actions-button message-actions-button-reply" onclick="messageReply()">Reply</div>
        <div class="message-actions-button red-button" onclick="deleteMessage(messageActionsId, chatId)">Delete</div>
    </div>
</div>

<div class="message-reaction" onclick="hideMessageReactions()">
    <div class="message-reaction-container" onclick="event.stopPropagation()">
        <span class="message-reaction-title">Message Reactions</span>
        <span class="message-reaction-loading">Click on the reaction to remove it</span>
        <div class="message-reactions-content custom-scrollbar">
            <div id="123" class="message-reactions-content-reaction">
                Egor KRID <div>💩</div>
            </div>
            <div id="123" class="message-reactions-content-reaction">
                Egor KRID <div>💩</div>
            </div>
        </div>
    </div>
</div>

<main class="chat">
    <aside class="chat-contacts">
        <header class="chat-contacts-header">
            Chats
        </header>

        
        <section class="chat-contacts-section custom-scrollbar">

            <!-- <span class="chat-contacts-section-null">You have no active chat now</span> -->

        </section>
        <footer class="chat-contacts-footer">
            <a class="chat-contacts-footer-button" href="{% url 'home' %}">
                <img class="chat-contacts-footer-button-img" src="{% static 'main/svg/home-sidebar.svg' %}" 
                    title="Home" alt="svg-image">
            </a>
            <a class="chat-contacts-footer-button" href="{% url 'search' %}">
                <img class="chat-contacts-footer-button-img" src="{% static 'main/svg/search-sidebar.svg' %}" 
                    title="Search"  alt="svg-image">
            </a>
            <a class="chat-contacts-footer-button" href="{% url 'profile_notification' %}">
                <!-- <div class="chat-contacts-footer-button-notify">12</div> -->

                {% if notification_count == 21 %}
                    <div class="mc-sb-c-links-notify">20+</div>
                {% elif notification_count > 0 %}
                    <div class="mc-sb-c-links-notify">{{ notification_count }}</div>
                {% elif notification_count == 0 %}
                    <div class="mc-sb-c-links-notify" style="display: none;">0</div>
                {% endif %}

                <img class="chat-contacts-footer-button-img" src="{% static 'main/svg/notification-sidebar.svg' %}" 
                    title="Notifications"  alt="svg-image">
            </a>
            <a class="chat-contacts-footer-button" href="{% url 'profile' username=user_profile.username %}">
                <img class="chat-contacts-footer-button-img" src="{% static 'main/svg/profile.svg' %}" 
                    title="Profile"  alt="svg-image">
            </a>
        </footer>
    </aside>

    <div class="chat-content">
        <div class="chat-content-file-drag">
            <div class="chat-content-file-drag-text">Drag the file here</div>
        </div>
        <header class="chat-content-header">
            <div class="chat-content-header-back" onclick="closeChat()">
                <img class="chat-content-header-back-img" src="{% static 'main/svg/back.svg' %}" alt="svg-image">
                Back
            </div>
            <a href="#" class="chat-content-header-a">
                <div class="chat-content-header-userinfo">
                    <span class="chat-content-header-userinfo-username">
                        Emmanuel Shamsulin
                        <img class="user-verify" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="verified">
                    </span>
                    <span class="chat-content-header-userinfo-activity">online</span>
                    <span class="chat-content-header-userinfo-activity-typing" style="display:none;">Typing...</span>
                </div>
            </a>
            <img class="chat-content-header-avatar" src="{% static 'main/images/p1.jpg' %}" alt="user's avatar">
                <div class="chat-content-header-buttons">
                    <a href="#"><img class="chat-content-header-buttons-img" src="{% static 'main/svg/audio-call.svg' %}" alt="svg-image"></a>
                    <a href="#"><img class="chat-content-header-buttons-img" src="{% static 'main/svg/video-call.svg' %}" alt="svg-image"></a>
                </div>  
        </header>

        <!-- ТУТ БЫЛИ СООБЩЕНИЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯ -->

        <section class="chat-content-input">

            <div class="chat-content-input-file-container">
                <div class="cci-file-type-container">
                    <div class="cci-file-type">
                        <img class="cci-file-type-img" src="{% static 'main/svg/file-plus.svg' %}" alt="svg-image">
                    </div>
                    <span class="cci-file-type-text">File</span>
                </div>
                <span class="cci-file-filename">filename</span>
                <img class="cci-file-filecontent" src="{% static 'main/images/p1.jpg' %}" alt="file-image" onclick="OnFullScreenPhoto(this)">
                <video class="cci-file-filecontent-video" muted="true" autoplay="true" loop>
                    <source class="cci-file-filecontent-video-source" src="{% static 'main/images/v2.mp4' %}">
                    Ваш браузер не поддерживает тег video.
                </video>
                <audio controls class="cci-file-filecontent-audio"></audio>
                <div class="cci-file-buttons">
                    <div class="cci-file-cancel" onclick="closeFileInput()">Cancel</div>
                    <div class="cci-file-send"><img class="cci-file-send-img" src="{% static 'main/svg/send.svg' %}" alt="send-img"></div>
                </div>
            </div>

            <div class="chat-content-input-reply" onclick="hideReplyContainer()">
                <span class="chat-content-input-reply-title">Reply, click to cancel</span>
                <span class="chat-content-input-reply-message">message</span>
            </div>
            <div class="chat-content-input-container">
                <!-- <div class='chat-content-input-container-emoji'>
                    <span class="chat-content-input-container-emoji-title">Travel</span>
                    <div class="chat-content-input-container-emoji-container">
                        <div class="chat-content-input-container-emoji-emoji">❤️</div>
                        <div class="chat-content-input-container-emoji-emoji">❤️</div>
                        <div class="chat-content-input-container-emoji-emoji">❤️</div>
                    </div>
                </div> -->

                <div class="chat-content-input-scrollDown" onclick="scrollToBottomAnyway()">
                    <img class="chat-content-input-scrollDown-img" src="{% static 'main/svg/down.svg' %}" alt="svg-image">
                </div>

                <div class="chat-content-input-file">
                    <input type="file" class="chat-content-input-file-input" onchange="openFileButton(this)">
                    <img class="chat-content-input-file-img" src="{% static 'main/svg/input-file.svg' %}" alt="input-file">
                </div>
                <div class="chat-content-input-message-container">
                    <!-- <input type="text" class="chat-content-input-message" oninput="chatChangeSendInputButton()"> -->
                </div>

                <div class="chat-content-input-emoji" onclick="openEmoji()">
                    <img class="chat-content-input-file-img" src="/static/main/svg/emoji-smile.svg" alt="input-file">
                </div>

                <div class="chat-content-input-audio" onclick="onContentAudio()">
                    <img class="chat-content-input-message-img" src="{% static 'main/svg/mic.svg' %}" alt="audio-img">
                </div>
                <!-- <div class="chat-content-input-send">
                    <img class="chat-content-input-send-img" src="{% static 'main/svg/send.svg' %}" alt="send-img">
                </div> -->
            </div>
        </section>

        <section class="chat-content-audio">
            <div class="chat-content-audio-record">
                <div class="chat-content-audio-left">
                    <img class="chat-content-audio-record-trash-img" src="{% static 'main/svg/trash.svg' %}" alt="svg-img">
                </div>
                <span class="chat-content-audio-record-span">Recording...</span>
                <img class="chat-content-audio-record-send-img" src="{% static 'main/svg/send.svg' %}" alt="svg-img">
            </div>
        </section>
    </div>
</main>

<script>
    var inputAudioImg = "{% static 'main/svg/mic.svg' %}";
    var inputSendImg = "{% static 'main/svg/send.svg' %}";

    var svgTickBlue = "{% static 'main/svg/tick-blue.svg' %}";
    var svgTickWhite = "{% static 'main/svg/tick-white.svg' %}";
    var svgAdditional = "{% static 'main/svg/dots-vertical.svg' %}";
    var svgFile = "{% static 'main/svg/file.svg'%}";
    var svgCall = "{% static 'main/svg/audio-call.svg' %}";
    var svgVideoCall = "{% static 'main/svg/video-call.svg' %}";
    var svgPost = "{% static 'main/svg/post.svg' %}";
    var svgStory = "{% static 'main/svg/story.svg' %}";
    var svgFilePlus = "{% static 'main/svg/file-plus.svg' %}";
    var svgMusic = "{% static 'main/svg/music.svg' %}";
    var svgVideo = "{% static 'main/svg/play.svg' %}";
    var svgImage = "{% static 'main/svg/photos.svg' %}";
    var svgVerify = "{% static 'main/svg/verify.svg' %}";

    var testpicture = "{% static 'main/images/ilon.jpg' %}"
    var testvideo = "{% static 'main/images/v1.mp4' %}"
    var testaudio = "{% static 'main/sounds/d.mp3' %}"

    var newMessagePlate = [];
    var chatId = null;
    var userId = parseInt('{{ user_profile.pk}}')
    var tempUserInfo = {};
    var userTyping = true;
</script>
<script src="{% static 'main/JS/chat.js' %}"></script>
<script src="{% static 'main/JS/chat-ws.js' %}"></script>
{% endblock %}