{% extends 'main/base-expanded.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <div class="mc-feed-stories-container">
        <div class="mc-feed-stories-scroll-left" onclick="scrollContainerRight()">
            <img class="mc-feed-stories-scroll-img" src="{% static 'main/svg/form-previous.svg' %}" alt="svg-image">
        </div>
        <div class="mc-feed-stories-scroll-right" onclick="scrollContainerLeft()">
            <img class="mc-feed-stories-scroll-img" src="{% static 'main/svg/form-next.svg' %}" alt="svg-image">
        </div>
        <div class="mc-feed-stories-story-container">
            <a class="mc-feed-stories-story" href="{% url 'story_create' %}">
                <img class="mc-feed-stories-story-userinfo-img" src="{% static 'main/svg/plus-large.svg' %}" alt="svg-image">
                <div class="mc-feed-stories-story-userinfo">Add content</div>
            </a>
            {% if exist_my_stories %}
            <!-- {{ user_profile.profile.avatar.url }} -->
                <a class="stories-story" href="{{ user_profile.username }}">
                    <img class="stories-story-avatar-viewed-img" src="{{ user_profile.profile.avatar.url }}" alt="{{ user_profile.username }}'s avatar">
                    <span class="stories-story-username">Your stories</span>
                </a>
            {% endif %}

            {% for story in stories %}
                <a class="stories-story" href="/{{ story.author.username }}">
                    {% if story.is_viewed %}
                        <img class="stories-story-avatar-viewed-img" src="{{ story.author.profile.avatar.url }}" alt="{{ story.author }}'s avatar">
                    {% else %}
                        <div class="stories-story-avatar">
                            <img class="stories-story-avatar-img" src="{{ story.author.profile.avatar.url }}" alt="{{ story.author }}'s avatar">
                        </div>
                    {% endif %}
                    <span class="stories-story-username">{{ story.author.profile.full_name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>


    <div class="mc-feed-article-container">
        <hr>
        {{ recommendations }}
        <hr>
        {% for i in recommendations %}
            ({{ i.author }})[{{i.pk}}]
        {% endfor %}
        <hr>
        {{recommendations|length}}
        <hr>

        <article data-id="126" class="mc-feed-article">
    
            <div data-id="126" class="mc-feed-article-share-container">
                <header class="mc-feed-article-share-header">
                    Share
                    <img data-id="126" class="mc-feed-article-share-close-img" src="{% static 'main/svg/close.svg' %}" onclick="hideShareContainer(this)" alt="svg-image">
                </header>
                <input data-id="126" type="text" class="mc-feed-article-share-input" oninput="shareFilter(this)">
                
                <div class="mc-feed-article-share-userlist custom-scrollbar">
                    <div class="mc-feed-article-share-user">
                        <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                        <a href="#"><div class="mc-feed-article-share-user-name">Elon Musk
                            <div class="mc-feed-article-share-user-second-name">blg</div>
                        </div></a>
                        <div class="mc-feed-article-share-user-share">Share</div>
                    </div>
    
                    <div class="mc-feed-article-share-user">
                        <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                        <a href="#"><div class="mc-feed-article-share-user-name">Radmir Musk
                            <div class="mc-feed-article-share-user-second-name">egor</div>
                        </div></a>
                        <div class="mc-feed-article-share-user-share">Share</div>
                    </div>
    
                </div>
            </div>
    
            <div class="mc-feed-article-userinfo">
                <a href="#">
                    <div class="mc-feed-article-story">
                        <img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                    </div>
                </a>
                <!-- <a href="#"><img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar"></a> -->
                <a href="#"><h2 class="mc-feed-article-username">Emmanuel Shamsulin</h2></a>
                <img class="user-verify" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="Verified">
                <img data-id="126" class="mc-feed-article-menu-img" src="{% static 'main/svg/dots-vertical.svg' %}" onclick="openArticleMenu(this)" alt="svg-image">
                <div data-id="126" class="mc-feed-article-menu">
                    <div data-id="126" class="mc-feed-article-menu-a mc-feed-article-menu-a-red" onclick="articleDelete(this)">Delete</div>
                    <div data-id="126" class="mc-feed-article-menu-a" onclick="articleCopyLink(this)">Copy Link</div>
                    <div data-id="126" class="mc-feed-article-menu-a" onclick="articleNotInterested(this)">Not Interested</div>
                </div>
            </div>
            <p class="mc-feed-article-description">ТУТ СДЕЛАЙ ТОЛЬКО 1000 символов!!!Всем привет! Какdddddddddddddddddddddddddddddddddddddddddddddddd де</p>
            <div class="mc-feed-article-hashtags">
                <span>#summer</span>
                <span>#cars</span>
            </div>
            <div class="mc-feed-article-pictures-container">
                <span class="mc-feed-article-scrollable">Scrollable</span>
                <div class="mc-feed-article-pictures-content">
                    <video controls preload="none" playsinline class="mc-feed-article-article-img">
                        <source src="{% static 'main/images/v1.mp4' %}" type="video/mp4" />
                    </video>
                    <img class="mc-feed-article-article-img" src="{% static 'main/images/p1.jpg' %}"  onclick="OnFullScreenPhoto(this)">
                    <img class="mc-feed-article-article-img" src="{% static 'main/images/p3.jpg' %}"  onclick="OnFullScreenPhoto(this)">
                </div>
            </div>
            <div class="mc-feed-article-activity">
                <div data-id="126" class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}" alt="svg-image"></div>
                <div data-id="126" class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}" alt="svg-image"></div>
                <div data-id="126" class="mc-feed-article-comments pointer"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/comment-dots.svg' %}" alt="svg-image"></div>
                <div data-id="126" class="mc-feed-article-share pointer" onclick="showShareContainer(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/share.svg' %}" alt="svg-image"></div>
                <div data-id="126" class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}" alt="svg-image"></div>
                <div data-id="126" class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}" alt="svg-image"></div>
            </div>
            <div class="display-grid">
                <span class="mc-feed-article-text-count">Likes: <span data-id="126" class="mc-feed-article-count mc-fd-art-c-like">45394</span></span>
                <span class="mc-feed-article-text-count">Comments: <span data-id="126" class="mc-feed-article-count">1123</span></span>
                <span class="mc-feed-article-time">18:40</span>
            </div>
        </article>
    
    
        <article data-id="125" class="mc-feed-article">
            <div data-id="125" class="mc-feed-article-share-container">
                <header class="mc-feed-article-share-header">
                    Share
                    <img data-id="125" class="mc-feed-article-share-close-img" src="{% static 'main/svg/close.svg' %}" onclick="hideShareContainer(this)" alt="svg-image">
                </header>
                <input data-id="125" type="text" class="mc-feed-article-share-input" oninput="shareFilter(this)">
                
                <div class="mc-feed-article-share-userlist custom-scrollbar">
                    <div class="mc-feed-article-share-user">
                        <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                        <a href="#"><div class="mc-feed-article-share-user-name">Elon Musk
                            <div class="mc-feed-article-share-user-second-name">elon</div>
                        </div></a>
                        <div class="mc-feed-article-share-user-share">Share</div>
                    </div>
    
                    <div class="mc-feed-article-share-user">
                        <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                        <a href="#"><div class="mc-feed-article-share-user-name">Radmir Musk
                            <div class="mc-feed-article-share-user-second-name">egor</div>
                        </div></a>
                        <div class="mc-feed-article-share-user-share">Share</div>
                    </div>
    
                </div>
            </div>
    
            <div class="mc-feed-article-userinfo">
                <a href="#">
                    <div class="mc-feed-article-story">
                        <img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                    </div>
                </a>
                <!-- <a href="#"><img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar"></a> -->
                <a href="#"><h2 class="mc-feed-article-username">Radmir Shamsulin</h2></a>
                <img class="user-verify" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="Verified">
                <img data-id="125" class="mc-feed-article-menu-img" src="{% static 'main/svg/dots-vertical.svg' %}" onclick="openArticleMenu(this)" alt="svg-image">
                <div data-id="125" class="mc-feed-article-menu">
                    <div data-id="125" class="mc-feed-article-menu-a mc-feed-article-menu-a-red" onclick="articleDelete(this)">Delete</div>
                    <div data-id="125" class="mc-feed-article-menu-a" onclick="articleCopyLink(this)">Copy Link</div>
                    <div data-id="125" class="mc-feed-article-menu-a" onclick="articleNotInterested(this)">Not Interested</div>
                </div>
            </div>
            <p class="mc-feed-article-description-solo">ТУТ СДЕЛАЙ ТОЛЬКО 1000 символов!!!Всем привет! Какdddddddddddddddddddddddddddddddddddddddddddddddd де</p>
            <div class="mc-feed-article-hashtags">
                <span>#summer</span>
                <span>#cars</span>
            </div>
            <div class="mc-feed-article-activity">
                <div data-id="125" class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}" alt="svg-image"></div>
                <div data-id="125" class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}" alt="svg-image"></div>
                <div data-id="125" class="mc-feed-article-comments pointer"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/comment-dots.svg' %}" alt="svg-image"></div>
                <div data-id="125" class="mc-feed-article-share pointer" onclick="showShareContainer(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/share.svg' %}" alt="svg-image"></div>
                <div data-id="125" class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}" alt="svg-image"></div>
                <div data-id="125" class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}" alt="svg-image"></div>
            </div>
            <div class="display-grid">
                <span class="mc-feed-article-text-count">Likes: <span data-id="125" class="mc-feed-article-count mc-fd-art-c-like">45394</span></span>
                <span class="mc-feed-article-text-count">Comments: <span data-id="125" class="mc-feed-article-count">1123</span></span>
                <span class="mc-feed-article-time">18:40</span>
            </div>
        </article>
    
        <article data-id="124" class="mc-feed-article">
            <div data-id="124" class="mc-feed-article-share-container">
                <header class="mc-feed-article-share-header">
                    Share
                    <img data-id="124" class="mc-feed-article-share-close-img" src="{% static 'main/svg/close.svg' %}" onclick="hideShareContainer(this)" alt="svg-image">
                </header>
                <input data-id="124" type="text" class="mc-feed-article-share-input" oninput="shareFilter(this)">
                
                <div class="mc-feed-article-share-userlist custom-scrollbar">
                    <div class="mc-feed-article-share-user">
                        <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                        <a href="#"><div class="mc-feed-article-share-user-name">Elon Musk
                            <div class="mc-feed-article-share-user-second-name">egor</div>
                        </div></a>
                        <div class="mc-feed-article-share-user-share">Share</div>
                    </div>
    
                    <div class="mc-feed-article-share-user">
                        <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                        <a href="#"><div class="mc-feed-article-share-user-name">Radmir Musk
                            <div class="mc-feed-article-share-user-second-name">egor</div>
                        </div></a>
                        <div class="mc-feed-article-share-user-share">Share</div>
                    </div>
    
                </div>
            </div>
    
            <div class="mc-feed-article-userinfo">
                <a href="#">
                    <div class="mc-feed-article-story">
                        <img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                    </div>
                </a>
                <!-- <a href="#"><img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar"></a> -->
                <a href="#"><h2 class="mc-feed-article-username">Elon Musk</h2></a>
                <img class="user-verify" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="Verified">
                <img data-id="124" class="mc-feed-article-menu-img" src="{% static 'main/svg/dots-vertical.svg' %}" onclick="openArticleMenu(this)" alt="svg-image">
                <div data-id="124" class="mc-feed-article-menu">
                    <div data-id="124" class="mc-feed-article-menu-a mc-feed-article-menu-a-red" onclick="articleDelete(this)">Delete</div>
                    <div data-id="124" class="mc-feed-article-menu-a" onclick="articleCopyLink(this)">Copy Link</div>
                    <div data-id="124" class="mc-feed-article-menu-a" onclick="articleNotInterested(this)">Not Interested</div>
                </div>
            </div>
            <p class="mc-feed-article-description">ТУТ СДЕЛАЙ ТОЛЬКО 1000 символов!!!Всем привет! Какdddddddddddddddddddddddddddddddddddddddddddddddd де</p>
            <div class="mc-feed-article-hashtags">
                <span>#summer</span>
                <span>#cars</span>
            </div>
            <video controls preload="none" playsinline class="mc-feed-article-article-img">
                <source src="{% static 'main/images/v1.mp4' %}" type="video/mp4" />
            </video>
            <div class="mc-feed-article-activity">
                <div data-id="124" class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}" alt="svg-image"></div>
                <div data-id="124" class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}" alt="svg-image"></div>
                <div data-id="124" class="mc-feed-article-comments pointer"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/comment-dots.svg' %}" alt="svg-image"></div>
                <div data-id="124" class="mc-feed-article-share pointer" onclick="showShareContainer(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/share.svg' %}" alt="svg-image"></div>
                <div data-id="124" class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}" alt="svg-image"></div>
                <div data-id="124" class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}" alt="svg-image"></div>
            </div>
            <div class="display-grid">
                <span class="mc-feed-article-text-count">Likes: <span data-id="124" class="mc-feed-article-count mc-fd-art-c-like">45394</span></span>
                <span class="mc-feed-article-text-count">Comments: <span data-id="124" class="mc-feed-article-count">1123</span></span>
                <span class="mc-feed-article-time">18:40</span>
            </div>
        </article>
    
        <article data-id="123" class="mc-feed-article">
            <div data-id="123" class="mc-feed-article-share-container">
                <header class="mc-feed-article-share-header">
                    Share
                    <img data-id="123" class="mc-feed-article-share-close-img" src="{% static 'main/svg/close.svg' %}" onclick="hideShareContainer(this)" alt="svg-image">
                </header>
                <input data-id="123" type="text" class="mc-feed-article-share-input" oninput="shareFilter(this)">
                
                <div class="mc-feed-article-share-userlist custom-scrollbar">
                    <div class="mc-feed-article-share-user">
                        <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                        <a href="#"><div class="mc-feed-article-share-user-name">Elon Musk
                            <div class="mc-feed-article-share-user-second-name">elon</div>
                        </div></a>
                        <div class="mc-feed-article-share-user-share">Share</div>
                    </div>
    
                    <div class="mc-feed-article-share-user">
                        <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                        <a href="#"><div class="mc-feed-article-share-user-name">Radmir Musk
                            <div class="mc-feed-article-share-user-second-name">egor</div>
                        </div></a>
                        <div class="mc-feed-article-share-user-share">Share</div>
                    </div>
    
                </div>
            </div>
    
            <div class="mc-feed-article-userinfo">
                <a href="#">
                    <div class="mc-feed-article-story">
                        <img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                    </div>
                </a>
                <!-- <a href="#"><img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar"></a> -->
                <a href="#"><h2 class="mc-feed-article-username">Elon Musk</h2></a>
                <img class="user-verify" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="Verified">
                <img data-id="123" class="mc-feed-article-menu-img" src="{% static 'main/svg/dots-vertical.svg' %}" onclick="openArticleMenu(this)" alt="svg-image">
                <div data-id="123" class="mc-feed-article-menu">
                    <div data-id="123" class="mc-feed-article-menu-a mc-feed-article-menu-a-red" onclick="articleDelete(this)">Delete</div>
                    <div data-id="123" class="mc-feed-article-menu-a" onclick="articleCopyLink(this)">Copy Link</div>
                    <div data-id="123" class="mc-feed-article-menu-a" onclick="articleNotInterested(this)">Not Interested</div>
                </div>
            </div>
            <p class="mc-feed-article-description">ТУТ СДЕЛАЙ ТОЛЬКО 1000 символов!!!Всем привет! Какdddddddddddddddddddddddddddddddddddddddddddddddd де</p>
            <div class="mc-feed-article-hashtags">
                <span>#summer</span>
                <span>#cars</span>
            </div>
            <img class="mc-feed-article-article-img" src="{% static 'main/images/p1.jpg' %}"  onclick="OnFullScreenPhoto(this)">
            <div class="mc-feed-article-activity">
                <div data-id="123" class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}" alt="svg-image"></div>
                <div data-id="123" class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}" alt="svg-image"></div>
                <div data-id="123" class="mc-feed-article-comments pointer"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/comment-dots.svg' %}" alt="svg-image"></div>
                <div data-id="123" class="mc-feed-article-share pointer" onclick="showShareContainer(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/share.svg' %}" alt="svg-image"></div>
                <div data-id="123" class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}" alt="svg-image"></div>
                <div data-id="123" class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}" alt="svg-image"></div>
            </div>
            <div class="display-grid">
                <span class="mc-feed-article-text-count">Likes: <span data-id="123" class="mc-feed-article-count mc-fd-art-c-like">4539604</span></span>
                <span class="mc-feed-article-text-count">Comments: <span data-id="123" class="mc-feed-article-count">1123</span></span>
                <span class="mc-feed-article-time">18:40</span>
            </div>
        </article>
    </div>

<script src="{% static 'main/JS/home.js' %}"></script>
<script>
    var isViewedStr = '{{ is_viewed_stories }}';
</script>
{% endblock %}