{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/authentication.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/style-blue.css' %}" type="text/css">
{% endblock %}


{% block body %}

<div class="authentication">
    <form method="post" class="auth-form-login">
    {% csrf_token %}
    <div class="authentication-container">
        <div class="auth-title">Welcome!
            <span class="auth-title-desc">You don’t have an account? <a href="/registration">Register</a></span>
        </div>
        <div class="auto-form-container">
            <div class="auto-form-input-container">
                <span class="auth-label">Login</span>
                {{ form.username }}
                <!-- <input class="auth-input" type="email" placeholder="Enter your email"> -->
                <span class="auth-input-error">{{ form.username.errors }}</span>
            </div>

            <div class="auto-form-input-container">
                <span class="auth-label">Password</span>
                {{ form.password }}
                <!-- <input class="auth-input" type="password" placeholder="Enter your password"> -->
                <span class="auth-input-error">{{ form.password.errors }}</span>
            </div>
        </div>
    </div>
    <button type="submit" class="auth-form-confirm-button">Sing in</button>
    <span class="auth-title-desc-bottom">You don’t have an account? <a href="/registration">Register</a></span>
    </form>
</div>

{% endblock %}
