{% extends 'main/base-expanded.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/new-post.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/blue-style.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="post">
    <div class="post-title">New post</div>
    <div class="post-block-title">Tags</div>
    <div class="post-tags">
        <input class="post-tags-input" type="text" placeholder="Enter tag" onchange="appendTag(this)" maxlength="20">
    </div>

    <div>
        <div class="post-buttons">
            <img class="post-buttons-button" src="{% static 'main/svg/emoji-smile.svg' %}">
            <img class="post-buttons-button" src="{% static 'main/svg/bold.svg' %}" onclick="textareaBold()">
            <img class="post-buttons-button" src="{% static 'main/svg/italic.svg' %}">
            <img class="post-buttons-button" src="{% static 'main/svg/undo-left.svg' %}" onclick="textareaUndo()">
            <img class="post-buttons-button" src="{% static 'main/svg/undo-right.svg' %}" onclick="textareaRedo()">
        </div>
        <textarea  rows="5" cols="50" maxlength="255" class="post-tags-textarea"></textarea>
    </div>
    <button onclick="checkTextarea()">Проверить количество {{ var1 }} переносов строк</button>
</div>

<script src="{% static 'main/JS/new-post.js' %}"></script>
{% endblock %}
