{% extends 'main/base-expanded.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}" type="text/css">
{% endblock %}

{% block body %}
<div class="mc-profile-user">
    {% if user.pk != user_profile.pk %}
        {% if user.is_following %}
            <div class="mc-profile-user-unfollow" onclick="profileUnfollow()">Following</div>
            <div class="mc-profile-user-follow" style="display:none;" onclick="profileFollow()">Follow</div>
        {% else %}
            <div class="mc-profile-user-follow" onclick="profileFollow()">Follow</div>
            <div class="mc-profile-user-unfollow" style="display:none;" onclick="profileUnfollow()">Following</div>
        {% endif %}
    {% endif %}

    <img class="mc-profile-user-background-img" src="{{ user.profile.background_avatar.url }}" alt="{{ user.username }}'s avatar">
    <div class="mc-profile-user-avatar">

        {% if user.viewed_story_exists %}
            <div class="mc-profile-user-avatar-story">
                <a href="{% url 'story' username=user.username %}?redirect_to={% url 'profile' username=user.username %}" class="mc-profile-user-avatar-story-a">
                    <img class="mc-profile-user-avatar-story-img" src="{{ user.profile.avatar.url }}"  alt="{{ user.username }}'s avatar">
                </a>
            </div>
        {% else %}
            <img class="mc-profile-user-avatar-img" src="{{ user.profile.avatar.url }}" onclick="OnFullScreenPhoto(this)" alt="{{ user.username }}'s avatar">
        {% endif %}

        {% if user.profile.online_status %}
            <div class="mc-profile-user-avatar-online" title="online"></div>
        {% else %}
            <div class="mc-profile-user-avatar-online" title="online" style="display:none;"></div>
        {% endif %}
    </div>
    <div class="mc-profile-user-online">
        <!-- <span class="mc-profile-user-online-time">Last seen at 18:50</span> -->
        
        {% if user.profile.online_status %}
            <span class="mc-profile-user-online-time">Online</span>
        {% else %}
            <span class="mc-profile-user-online-time">{{ user.profile.last_online|date:'Y-m-d\TH:i:s.uO' }}</span>
        {% endif %}

    </div>
    <h1 class="mc-profile-user-username">
        {{ user.profile.full_name }}
        {% if user.profile.verify %}
            <img class="user-verify" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="Verified">
        {% endif %}
    </h1>
    <h2 class="mc-profile-user-second-username">{{ user.username }}</h2>

    {% if user.profile.bio != '' %}
        {% if not user.profile.private or user.pk == user_profile.pk or user.is_follower %}
            <span class="mc-profile-user-description">{{ user.profile.bio }}</span>
        {% endif %}
    {% endif %}

</div>

{% if not user.profile.private or user.pk == user_profile.pk or user.is_follower %}
    <div class="mc-profile-user-content-stat-container">
        <div class="mc-profile-user-stat-container">Posts
            <span class="mc-profile-user-stat-span">{{ user.profile.amount_article }}</span>
        </div>
        <a href="{% url 'list_followers' username=user.username %}" class="mc-profile-user-stat-container">Followers
            <span class="mc-profile-user-stat-span">{{ user.profile.amount_followers }}</span>
        </a>
        <a href="{% url 'list_following' username=user.username %}" class="mc-profile-user-stat-container">Following
            <span class="mc-profile-user-stat-span">{{ user.profile.amount_following }}</span>
        </a>
    </div>
{% else %}
    <div class="mc-profile-user-content-stat-container">
        <div class="mc-profile-user-stat-container">Posts
            <span class="mc-profile-user-stat-span">{{ user.profile.amount_article }}</span>
        </div>
        <div class="mc-profile-user-stat-container">Followers
            <span class="mc-profile-user-stat-span">{{ user.profile.amount_followers }}</span>
        </div>
        <div class="mc-profile-user-stat-container">Following
            <span class="mc-profile-user-stat-span">{{ user.profile.amount_following }}</span>
        </div>
    </div>
{% endif %}

<!-- ЕСЛИ БУДЕТ ЗАКРЫТЫЙ АКК -->

{% if not user.profile.private and user.pk != user_profile.pk or user.is_follower %}
    <div class="mc-profile-user-content-stat-container">
        <a href="#" class="mc-profile-user-buttons-button">
            <img class="mc-profile-user-buttons-button-img" src="{% static 'main/svg/audio-call.svg' %}" alt="svg-image">
            <span class="mc-profile-user-buttons-button-span">call</span>
        </a>
        <a href="#" class="mc-profile-user-buttons-button">
            <img class="mc-profile-user-buttons-button-img" src="{% static 'main/svg/video-call.svg' %}" alt="svg-image">
            <span class="mc-profile-user-buttons-button-span">video</span>
        </a>
        <a href="#" class="mc-profile-user-buttons-button">
            <img class="mc-profile-user-buttons-button-img" src="{% static 'main/svg/chat.svg' %}" alt="svg-image">
            <span class="mc-profile-user-buttons-button-span">chat</span>
        </a>
    </div>
{% endif %}

{% if user.profile.private and user.pk != user_profile.pk and not user.is_follower %}
    <div class="mc-profile-user-content-stat-container">
        <img class="mc-profile-user-lock-img" src="{% static 'main/svg/lock.svg' %}" alt="svg-image">
        <span class="mc-profile-user-lock-span">This profile is private</span>
    </div>
{% endif %}


{% if posts|length > 0 %}
{% if not user.profile.private or user.pk == user_profile.pk or user.is_follower %}

    <div class="change-style-articles">
        <div class="cs-articles-mini" onclick="changeStyleArticlesMini()">
            <img class="cs-article-img" src="{% static 'main/svg/row-mini.svg' %}" alt="svg-image">
            Minimal
        </div>
        <div class="cs-articles-full" onclick="changeStyleArticlesFull()">
            <img class="cs-article-img" src="{% static 'main/svg/row-full.svg' %}" alt="svg-image">
            Full
        </div>
    </div>

    <div class="mc-feed-article-container-mini mc-feed-article-container-show">
        {% for post in posts %}

            <a href="{% url 'post' pk=post.pk %}" class="mc-feed-article-mini">
                {% if post.postfile_set.all|length == 1 %}

                    {% if post.postfile_set.all.0.get_extension == 'video' %}
                        <img class="mc-feed-article-mini-svg" src="{% static 'main/svg/play.svg' %}" alt="svg-image">
                        <video class="mc-feed-article-mini-img" src="{{ post.postfile_set.all.0.file.url }}"></video>
                    {% elif post.postfile_set.all.0.get_extension == 'image' %}
                        <img class="mc-feed-article-mini-img" src="{{ post.postfile_set.all.0.file.url }}" alt="article-photo">
                    {% endif %}

                {% elif post.postfile_set.all|length > 1 %}

                    <img class="mc-feed-article-mini-svg" src="{% static 'main/svg/photos.svg' %}" alt="svg-image">
                    {% if post.postfile_set.all.0.get_extension == 'video' %}
                        <video class="mc-feed-article-mini-img" src="{{ post.postfile_set.all.0.file.url }}"></video>
                    {% elif post.postfile_set.all.0.get_extension == 'image' %}
                        <img class="mc-feed-article-mini-img" src="{{ post.postfile_set.all.0.file.url }}" alt="article-photo">
                    {% endif %}

                {% elif post.postfile_set.all|length == 0 %}
                    <img class="mc-feed-article-mini-svg" src="{% static 'main/svg/text.svg' %}" alt="svg-image">
                    <div class="mc-feed-article-mini-text">{{ post.content }}</div>
                {% endif %}
            </a>

        {% endfor %}

        <!-- <a href="#" class="mc-feed-article-mini">
            <img class="mc-feed-article-mini-svg" src="{% static 'main/svg/play.svg' %}" alt="svg-image">
            <video class="mc-feed-article-mini-img" src="{% static 'main/images/v1.mp4' %}"></video>
        </a>

        <a href="#" class="mc-feed-article-mini">
            <img class="mc-feed-article-mini-svg" src="{% static 'main/svg/photos.svg' %}" alt="svg-image">
            <img class="mc-feed-article-mini-img" src="{% static 'main/images/ilon.jpg' %}" alt="article-photo">
        </a>

        <a href="#" class="mc-feed-article-mini">
            <img class="mc-feed-article-mini-svg" src="{% static 'main/svg/text.svg' %}" alt="svg-image">
            <div class="mc-feed-article-mini-text">ТУТ СДЕЛАЙ ТОЛЬКО 1000 символов!!! привет! Как ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd де</div>
        </a> -->

    </div>

    <div class="mc-feed-article-container">

        {% for post in posts %}
            {% with post.postfile_set.all as post.postfile_set.all %}
            <article data-id="{{ post.pk }}" class="mc-feed-article">
            
                <div data-id="{{ post.pk }}" class="mc-feed-article-share-container">
                    <header class="mc-feed-article-share-header">
                        Share
                        <img data-id="{{ post.pk }}" class="mc-feed-article-share-close-img" src="{% static 'main/svg/close.svg' %}" onclick="hideShareContainer(this)" alt="svg-image">
                    </header>
                    <input data-id="{{ post.pk }}" type="text" class="mc-feed-article-share-input" oninput="shareFilter(this)">

                    <div class="mc-feed-article-share-userlist custom-scrollbar">
                        <div class="mc-feed-article-share-user">
                            <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                            <a href="#"><div class="mc-feed-article-share-user-name">Elon Musk
                                <div class="mc-feed-article-share-user-second-name">blg</div>
                            </div></a>
                            <div class="mc-feed-article-share-user-share">Share</div>
                        </div>
                    
                        <div class="mc-feed-article-share-user">
                            <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
                            <a href="#"><div class="mc-feed-article-share-user-name">Radmir Musk
                                <div class="mc-feed-article-share-user-second-name">egor</div>
                            </div></a>
                            <div class="mc-feed-article-share-user-share">Share</div>
                        </div>
                    
                    </div>
                </div>
            
                <div class="mc-feed-article-userinfo">
                    {% if user.viewed_story_exists %}
                        <a href="{% url 'story' username=user.username%}">
                            <div class="mc-feed-article-story">
                                <img class="mc-feed-article-avatar" src="{{ post.author.profile.avatar.url }}" alt="{{ post.author.username }}'s avatar">
                            </div>
                        </a>
                    {% else %}
                        <a href="{% url 'profile' username=post.author.username %}"><img class="mc-feed-article-avatar" src="{{ post.author.profile.avatar.url }}" alt="{{ post.author.username }}'s avatar"></a>
                    {% endif %}

                    <a href="{% url 'profile' username=post.author.username %}"><h2 class="mc-feed-article-username">{{ post.author.profile.full_name }}</h2></a>

                    {% if post.author.profile.verify %}
                        <img class="user-verify" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="Verified">
                    {% endif %}
                    <img data-id="{{ post.pk }}" class="mc-feed-article-menu-img" src="{% static 'main/svg/dots-vertical.svg' %}" onclick="openArticleMenu(this)" alt="svg-image">
                    <div data-id="{{ post.pk }}" class="mc-feed-article-menu">
                        {% if post.author == user_profile %}
                            <div data-id="{{ post.pk }}" class="mc-feed-article-menu-a mc-feed-article-menu-a-red" onclick="articleDelete(this)">Delete</div>
                        {% endif %}
                        <div data-id="{{ post.pk }}" class="mc-feed-article-menu-a" onclick="articleCopyLink(this)">Copy Link</div>
                    </div>
                </div>

                {% if post.postfile_set.all|length == 0 %}
                    <p class="mc-feed-article-description-solo">{{ post.content }}</p>
                {% else %}
                    <p class="mc-feed-article-description">{{ post.content }}</p>
                {% endif %}

                <div class="mc-feed-article-hashtags">
                    {% for tag in post.tags.all %}
                        <span>#{{ tag.tag }}</span>
                    {% endfor %}
                </div>

                {% if post.postfile_set.all|length != 0 %}
                    {% if post.postfile_set.all|length > 1 %}
                        <div class="mc-feed-article-pictures-container">
                            <span class="mc-feed-article-scrollable">Scrollable</span>
                            <div class="mc-feed-article-pictures-content">
                                {% for file in post.postfile_set.all %}
                                    {% if file.get_extension == 'video' %}
                                        <video controls preload="metadata" class="mc-feed-article-article-img">
                                            <source src="{{ file.file.url }}">
                                        </video>
                                    {% elif file.get_extension == 'image' %}
                                        <img class="mc-feed-article-article-img" src="{{ file.file.url }}"  onclick="OnFullScreenPhoto(this)" alt="image">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% elif post.postfile_set.all|length == 1 %}
                        {% for file in post.postfile_set.all %}
                            {% if file.get_extension == 'video' %}
                                <video controls preload="metadata" class="mc-feed-article-article-img">
                                    <source src="{{ file.file.url }}">
                                </video>
                            {% elif file.get_extension == 'image' %}
                                <img class="mc-feed-article-article-img" src="{{ file.file.url }}"  onclick="OnFullScreenPhoto(this)" alt="image">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <div class="mc-feed-article-activity">
                    {% if post.like_exists %}
                        <div data-id="{{ post.pk }}" style='display:none;' class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}"></div>
                        <div data-id="{{ post.pk }}" class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}"></div>
                    {% else %}
                        <div data-id="{{ post.pk }}" class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}"></div>
                        <div data-id="{{ post.pk }}" style='display:none;' class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}"></div>
                    {% endif %}
                    <a href="{% url 'post' pk=post.pk %}" data-id="{{ post.pk }}" class="mc-feed-article-comments pointer"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/comment-dots.svg' %}"></a>
                    <div data-id="{{ post.pk }}" class="mc-feed-article-share pointer" onclick="showShareContainer(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/share.svg' %}"></div>
                    
                    {% if post.bookmark_exists %}
                        <div data-id="{{ post.pk }}" style='display:none;' class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}"></div>
                        <div data-id="{{ post.pk }}" class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}"></div>
                    {% else %}
                        <div data-id="{{ post.pk }}" class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}"></div>
                        <div data-id="{{ post.pk }}" style='display:none;' class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}"></div>
                    {% endif %}

                </div>
                <div class="display-grid">
                    <a href="{% url 'post_likes' pk=post.pk %}" class="mc-feed-article-text-count">Likes: <span data-id="{{ post.pk }}" class="mc-feed-article-count mc-fd-art-c-like">{{ post.amount_likes }}</span></a>
                    <span class="mc-feed-article-text-count">Comments: <span data-id="{{ post.pk }}" class="mc-feed-article-count">{{ post.amount_comments }}</span></span>
                    <span class="mc-feed-article-time">{{ post.time_create|date:'Y-m-d\TH:i:s.uO' }}</span>
                </div>

                {% endwith %}
            </article>
        {% endfor %}
{% endif %}
{% endif %}

<script src="{% static 'main/JS/home.js' %}"></script>
<script src="{% static 'main/JS/profile.js' %}"></script>
<script src="{% static 'main/JS/profile-api-post.js' %}"></script>
<script>
    var svgPlay = "{% static 'main/svg/play.svg' %}";
    var svgPhotos = "{% static 'main/svg/photos.svg' %}";
    var svgText = "{% static 'main/svg/text.svg' %}";
    var svgVerify = "{% static 'main/svg/verify.svg' %}";
    var svgDotsVertical = "{% static 'main/svg/dots-vertical.svg' %}";
    var svgLikeWhite = "{% static 'main/svg/like-white.svg' %}";
    var svgLikeRed = "{% static 'main/svg/like-red.svg' %}";
    var svgCommentDots = "{% static 'main/svg/comment-dots.svg' %}";
    var svgShare = "{% static 'main/svg/share.svg' %}";
    var svgSave = "{% static 'main/svg/save.svg' %}";
    var svgSaveFilled = "{% static 'main/svg/save-filled.svg' %}";
    var svgClose = "{% static 'main/svg/close.svg' %}";
    
    var username = '{{ user_profile.username }}';
    var user_id = '{{ user.pk }}'
    var createPost = createPost;
</script>
{% endblock %}