{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/authentication.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/style-blue.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="authentication">
    <form method="post" class="auth-form-login">
    {% csrf_token %}
    <div class="authentication-container">
        <div class="auth-title">Join Us Today!
            <span class="auth-title-desc">Already have an account? <a href="/login">Login</a></span>
        </div>
        <div class="auto-form-container">

            <div class="auto-form-input-container">
                <span class="auth-label">Username</span>
                <!-- <input class="auth-input" type="email" placeholder="Enter your username"> -->
                {{ form.username }}
                <span class="auth-input-error">{{ form.username.errors }}</span>
            </div>

            <div class="auto-form-input-container">
                <span class="auth-label">Name</span>
                <!-- <input class="auth-input" type="text" placeholder="Enter your name"> -->
                <!-- <input class="auth-input" type="text" placeholder="Enter your surname"> -->
                {{ form.name }}
                <span class="auth-input-error">{{ form.name.errors }}</span>
                {{ form.surname }}
                <span class="auth-input-error">{{ form.surname.errors }}</span>
            </div>

            <div class="auto-form-input-container">
                <span class="auth-label">Email</span>
                <!-- <input class="auth-input" type="email" placeholder="Enter your email"> -->
                {{ form.email }}
                <span class="auth-input-error">{{ form.email.errors }}</span>
            </div>

            <div class="auto-form-input-container">
                <span class="auth-label">Password</span>
                <!-- <input class="auth-input" type="password" placeholder="Enter your password"> -->
                {{ form.password1 }}
                <span class="auth-input-error">{{ form.password1.errors }}</span>
            </div>

            <div class="auto-form-input-container">
                <span class="auth-label">Repeat password</span>
                <!-- <input class="auth-input" type="password" placeholder="Repeat your password"> -->
                {{ form.password2 }}
                <span class="auth-input-error">{{ form.password2.errors }}</span>
            </div>
        </div>
    </div>
    <button type="submit" class="auth-form-confirm-button">Sign up</button>
    <span class="auth-title-desc-bottom">Already have an account? <a href="/login">Login</a></span>
    </form>
</div>

{% endblock %}
