{% extends 'main/base-expanded.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/search.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="search-content">
    <input class="search-input" placeholder="Search..." type="text" oninput="searchInput(this)">
    <div class="search-users">
        <a href="#" class="search-users-container">
            <img src="{% static 'main/images/p4.jpg' %}" alt="user's image" class="search-users-container-avatar">
            <div class="search-users-container-userinfo">
                <div class="sucu-name">EUROPPA PLUS
                    <img class="user-verify user-verify-small" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="verified">
                </div>
                <div class="sucu-login">shamsulin</div>
            </div>
            <img class="search-users-container-avatar" style="margin-left: auto; opacity: 0.6;" src="{% static 'main/svg/right-arrow.svg' %}" alt="svg-image">
        </a>
        

    </div>
</div>

<script>
    var svgRightArrow = "{% static 'main/svg/right-arrow.svg' %}";
    var svgVerify = "{% static 'main/svg/verify.svg' %}";
</script>
<script src="{% static 'main/JS/search.js' %}"></script>
{% endblock %}
