{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/story.css' %}" type="text/css">
{% endblock %}

{% block body %}
<main class="story">

    <div class="story-timeline">
            <!-- <div class="story-timeline-viewed"></div>
            <div class="story-timeline-viewed"></div>
            <div class="story-timeline-underviewed"><div class="story-timeline-now"></div></div>
            <div class="story-timeline-underviewed"></div>
            <div class="story-timeline-underviewed"></div> -->
    </div>

    <div class="story-top-buttons">
        <img class="story-top-button-img" src="{% static 'main/svg/dots-vertical.svg' %}" alt="svg-image" onclick="showMenu()">
        <img class="story-top-button-img" src="{% static 'main/svg/close.svg' %}" onclick="window.location.href = window.location.origin" alt="svg-image">
    </div>

    <a class="story-info" href="{% url 'profile' username=stories_author.username %}">
        <img class="story-info-avatar" src="{{ stories_author.profile.avatar.url }}" alt="{{ stories_author.username }}'s avatar">
        <div class="story-info-container">
            <div class="story-info-userinfo">
                {{ stories_author.profile.full_name }}
                {% if stories_author.profile.verify %}
                    <img class="user-verify user-verify-small" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="verified">
                {% endif %}
            </div>
            {% for story in stories %}
                {% if story.pk == story_id %}
                    <span class="story-info-time">{{ story.time_create|date:'Y-m-d\TH:i:s.uO' }}</span>
                {% endif %}
            {% endfor %}
        </div>
    </a>
    <img class="start-video-svg" src="{% static 'main/svg/play.svg' %}" alt="svg-image">
    {% for story in stories %}
        {% if story.pk == story_id %}
            <video class="story-video" onclick="startVideo(this)" data-len="{{story.video_content_length}}" disablepictureinpicture="" webkit-playsinline="" playsinline="" pip="false">
                <source class="story-video-source" src="{{ story.video_content.url }}">
            </video>
            <video class="story-video-background" disablepictureinpicture="" webkit-playsinline="" muted playsinline="" pip="false">
                <source class="story-video-source" src="{{ story.video_content.url }}">
            </video>
        {% endif %}
    {% endfor %}

    <div class="story-menu">
        <div class="story-menu-button" onclick="storyCopyLink()">Copy link</div>
        <div class="story-menu-button" onclick="showShare()">Share</div>
        {% if stories_author.username == user_profile.username %}
            <div class="story-menu-button story-menu-button-red">Delete</div>
        {% endif %}
    </div>

    <div class="control-stories">
        <div class="control-stories-previous" onclick="storyPrevious()"></div>
        <div class="control-stories-next" onclick="storyNext()"></div>
    </div>

    {% if stories_author.username == user_profile.username %}
        <div class="count-viewers">
            <img src="{% static 'main/svg/eye.svg' %}" alt="svg-image" class="count-viewers-svg">
            {% for story in stories %}
                {% if story.pk == story_id %}
                    {{ story.view_count }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="story-share">
        <input type="text" class="story-share-search" oninput="shareFilter(this)">
        
        <div class="story-share-user">
            <img class="story-share-user-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
            <div class="story-share-user-userinfo">
                <span class="story-share-user-userinfo-name">Emmanuel Shamsulin</span>
                <span class="story-share-user-userinfo-login">shamsulin</span>
            </div>
            <div class="story-share-button">Share</div>
        </div>


        <div class="story-share-user">
            <img class="story-share-user-avatar" src="{% static 'main/images/ilon.jpg' %}" alt="user's avatar">
            <div class="story-share-user-userinfo">
                <span class="story-share-user-userinfo-name">Emmanuel Shamsulin</span>
                <span class="story-share-user-userinfo-login">shamsulin</span>
            </div>
            <div class="story-share-button">Share</div>
        </div>

    </div>
</main>

<div class="story-data-div" style="display: none;">{% for story in stories %}{{ story.pk }} {% endfor %}</div>

<script src="{% static 'main/JS/story.js' %}"></script>

<script>
    var story_id = '{{ story_id }}';
</script>

{% endblock %}