<div class="notifications-container">
    <div class="notifications-c-side notifications-c-side-green">
        <img class="notifications-c-img" src="{% static 'main/svg/tick.svg' %}">
    </div>
    <span class="notifications-c-span">text</span>
    <div class="notifications-c-timeout notifications-c-side-green"></div>
</div>

<div class="notifications-container">
    <div class="notifications-c-side notifications-c-side-blue">
        <img class="notifications-c-img" src="{% static 'main/svg/exclamation.svg' %}">
    </div>
    <span class="notifications-c-span">text</span>
    <div class="notifications-c-timeout notifications-c-side-blue"></div>
</div>

<div class="notifications-container">
    <div class="notifications-c-side notifications-c-side-red">
        <img class="notifications-c-img" src="{% static 'main/svg/cross.svg' %}">
    </div>
    <span class="notifications-c-span">text</span>
    <div class="notifications-c-timeout notifications-c-side-red"></div>
</div>