<div class="notifications-container">
    <div class="notifications-c-side notifications-c-side-green">
        <img class="notifications-c-img" src="{% static 'main/svg/tick.svg' %}">
    </div>
    <span class="notifications-c-span">text</span>
    <div class="notifications-c-timeout notifications-c-side-green"></div>
</div>

<div class="notifications-container">
    <div class="notifications-c-side notifications-c-side-blue">
        <img class="notifications-c-img" src="{% static 'main/svg/exclamation.svg' %}">
    </div>
    <span class="notifications-c-span">text</span>
    <div class="notifications-c-timeout notifications-c-side-blue"></div>
</div>

<div class="notifications-container">
    <div class="notifications-c-side notifications-c-side-red">
        <img class="notifications-c-img" src="{% static 'main/svg/cross.svg' %}">
    </div>
    <span class="notifications-c-span">text</span>
    <div class="notifications-c-timeout notifications-c-side-red"></div>
</div>

<div data-id="126" class="mc-feed-article-menu-a" onclick="articleNotInterested(this)">Not Interested</div>








<div class="mc-feed-article-container">

    <article class="mc-feed-article">

        <div data-id="126" class="mc-feed-article-share-container">
            <header class="mc-feed-article-share-header">
                Share
                <img data-id="126" class="mc-feed-article-share-close-img" src="{% static 'main/svg/close.svg' %}" onclick="hideShareContainer(this)">
            </header>
            <input data-id="126" type="text" class="mc-feed-article-share-input" oninput="shareFilter(this)">
            
            <div class="mc-feed-article-share-userlist custom-scrollbar">
                <div class="mc-feed-article-share-user">
                    <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}">
                    <a href="#"><div class="mc-feed-article-share-user-name">Elon Musk
                        <div class="mc-feed-article-share-user-second-name">blg</div>
                    </div></a>
                    <div class="mc-feed-article-share-user-share">Share</div>
                </div>

                <div class="mc-feed-article-share-user">
                    <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}">
                    <a href="#"><div class="mc-feed-article-share-user-name">Radmir Musk
                        <div class="mc-feed-article-share-user-second-name">egor</div>
                    </div></a>
                    <div class="mc-feed-article-share-user-share">Share</div>
                </div>

            </div>
        </div>

        <div class="mc-feed-article-userinfo">
            <a href="#">
                <div class="mc-feed-article-story">
                    <img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}">
                </div>
            </a>
            <!-- <a href="#"><img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}"></a> -->
            <a href="#"><h2 class="mc-feed-article-username">Elon Musk</h2></a>
            <span class="mc-feed-article-time">18:40</span>
            <img data-id="126" class="mc-feed-article-menu-img" src="{% static 'main/svg/dots-vertical.svg' %}" onclick="openArticleMenu(this)">
            <div data-id="126" class="mc-feed-article-menu">
                <div data-id="126" class="mc-feed-article-menu-a mc-feed-article-menu-a-red" onclick="articleDelete(this)">Delete</div>
                <div data-id="126" class="mc-feed-article-menu-a" onclick="articleCopyLink(this)">Copy Link</div>
            </div>
        </div>
        <p class="mc-feed-article-description">ТУТ СДЕЛАЙ ТОЛЬКО 1000 символов!!!Всем привет! Как у вас проходитddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd день, что делаете сегодня? Я вот выбрал себе новые обои на робочий стол на компьютер свой :)</p>
        <div class="mc-feed-article-hashtags">
            <span>#summer</span>
            <span>#cars</span>
        </div>
        <div class="mc-feed-article-pictures-container">
            <span class="mc-feed-article-scrollable">Scrollable</span>
            <div class="mc-feed-article-pictures-content">
                <video controls preload="none" playsinline class="mc-feed-article-article-img">
                    <source src="{% static 'main/images/v1.mp4' %}" type="video/mp4" />
                </video>
                <img class="mc-feed-article-article-img" src="{% static 'main/images/p1.jpg' %}"  onclick="OnFullScreenPhoto(this)">
                <img class="mc-feed-article-article-img" src="{% static 'main/images/p3.jpg' %}"  onclick="OnFullScreenPhoto(this)">
            </div>
        </div>
        <div class="mc-feed-article-activity">
            <div data-id="126" class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}"></div>
            <div data-id="126" class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}"></div>
            <div data-id="126" class="mc-feed-article-comments pointer"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/comment-dots.svg' %}"></div>
            <div data-id="126" class="mc-feed-article-share pointer" onclick="showShareContainer(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/share.svg' %}"></div>
            <div data-id="126" class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}"></div>
            <div data-id="126" class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}"></div>
        </div>
        <div class="display-grid">
            <span class="mc-feed-article-text-count">Likes: <span data-id="126" class="mc-feed-article-count mc-fd-art-c-like">45394</span></span>
            <span class="mc-feed-article-text-count">Comments: <span data-id="126" class="mc-feed-article-count">1123</span></span>
        </div>
    </article>


    <article class="mc-feed-article">
        <div data-id="125" class="mc-feed-article-share-container">
            <header class="mc-feed-article-share-header">
                Share
                <img data-id="125" class="mc-feed-article-share-close-img" src="{% static 'main/svg/close.svg' %}" onclick="hideShareContainer(this)">
            </header>
            <input data-id="125" type="text" class="mc-feed-article-share-input" oninput="shareFilter(this)">
            
            <div class="mc-feed-article-share-userlist custom-scrollbar">
                <div class="mc-feed-article-share-user">
                    <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}">
                    <a href="#"><div class="mc-feed-article-share-user-name">Elon Musk
                        <div class="mc-feed-article-share-user-second-name">elon</div>
                    </div></a>
                    <div class="mc-feed-article-share-user-share">Share</div>
                </div>

                <div class="mc-feed-article-share-user">
                    <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}">
                    <a href="#"><div class="mc-feed-article-share-user-name">Radmir Musk
                        <div class="mc-feed-article-share-user-second-name">egor</div>
                    </div></a>
                    <div class="mc-feed-article-share-user-share">Share</div>
                </div>

            </div>
        </div>

        <div class="mc-feed-article-userinfo">
            <a href="#">
                <div class="mc-feed-article-story">
                    <img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}">
                </div>
            </a>
            <!-- <a href="#"><img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}"></a> -->
            <a href="#"><h2 class="mc-feed-article-username">Elon Musk</h2></a>
            <span class="mc-feed-article-time">18:40</span>
            <img data-id="125" class="mc-feed-article-menu-img" src="{% static 'main/svg/dots-vertical.svg' %}" onclick="openArticleMenu(this)">
            <div data-id="125" class="mc-feed-article-menu">
                <div data-id="125" class="mc-feed-article-menu-a mc-feed-article-menu-a-red" onclick="articleDelete(this)">Delete</div>
                <div data-id="125" class="mc-feed-article-menu-a" onclick="articleCopyLink(this)">Copy Link</div>
            </div>
        </div>
        <p class="mc-feed-article-description-solo">ТУТ СДЕЛАЙ ТОЛЬКО 1000 символов!!!Всем привет! Как у вас проходитddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd день, что делаете сегодня? Я вот выбрал себе новые обои на робочий стол на компьютер свой :)</p>
        <div class="mc-feed-article-hashtags">
            <span>#summer</span>
            <span>#cars</span>
        </div>
        <div class="mc-feed-article-activity">
            <div data-id="125" class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}"></div>
            <div data-id="125" class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}"></div>
            <div data-id="125" class="mc-feed-article-comments pointer"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/comment-dots.svg' %}"></div>
            <div data-id="125" class="mc-feed-article-share pointer" onclick="showShareContainer(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/share.svg' %}"></div>
            <div data-id="125" class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}"></div>
            <div data-id="125" class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}"></div>
        </div>
        <div class="display-grid">
            <span class="mc-feed-article-text-count">Likes: <span data-id="125" class="mc-feed-article-count mc-fd-art-c-like">45394</span></span>
            <span class="mc-feed-article-text-count">Comments: <span data-id="125" class="mc-feed-article-count">1123</span></span>
        </div>
    </article>

    <article class="mc-feed-article">
        <div data-id="124" class="mc-feed-article-share-container">
            <header class="mc-feed-article-share-header">
                Share
                <img data-id="124" class="mc-feed-article-share-close-img" src="{% static 'main/svg/close.svg' %}" onclick="hideShareContainer(this)">
            </header>
            <input data-id="124" type="text" class="mc-feed-article-share-input" oninput="shareFilter(this)">
            
            <div class="mc-feed-article-share-userlist custom-scrollbar">
                <div class="mc-feed-article-share-user">
                    <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}">
                    <a href="#"><div class="mc-feed-article-share-user-name">Elon Musk
                        <div class="mc-feed-article-share-user-second-name">egor</div>
                    </div></a>
                    <div class="mc-feed-article-share-user-share">Share</div>
                </div>

                <div class="mc-feed-article-share-user">
                    <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}">
                    <a href="#"><div class="mc-feed-article-share-user-name">Radmir Musk
                        <div class="mc-feed-article-share-user-second-name">egor</div>
                    </div></a>
                    <div class="mc-feed-article-share-user-share">Share</div>
                </div>

            </div>
        </div>

        <div class="mc-feed-article-userinfo">
            <a href="#">
                <div class="mc-feed-article-story">
                    <img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}">
                </div>
            </a>
            <!-- <a href="#"><img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}"></a> -->
            <a href="#"><h2 class="mc-feed-article-username">Elon Musk</h2></a>
            <span class="mc-feed-article-time">18:40</span>
            <img data-id="124" class="mc-feed-article-menu-img" src="{% static 'main/svg/dots-vertical.svg' %}" onclick="openArticleMenu(this)">
            <div data-id="124" class="mc-feed-article-menu">
                <div data-id="124" class="mc-feed-article-menu-a mc-feed-article-menu-a-red" onclick="articleDelete(this)">Delete</div>
                <div data-id="124" class="mc-feed-article-menu-a" onclick="articleCopyLink(this)">Copy Link</div>
            </div>
        </div>
        <p class="mc-feed-article-description">ТУТ СДЕЛАЙ ТОЛЬКО 1000 символов!!!Всем привет! Как у вас проходитddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd день, что делаете сегодня? Я вот выбрал себе новые обои на робочий стол на компьютер свой :)</p>
        <div class="mc-feed-article-hashtags">
            <span>#summer</span>
            <span>#cars</span>
        </div>
        <video controls preload="none" playsinline class="mc-feed-article-article-img">
            <source src="{% static 'main/images/v1.mp4' %}" type="video/mp4" />
        </video>
        <div class="mc-feed-article-activity">
            <div data-id="124" class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}"></div>
            <div data-id="124" class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}"></div>
            <div data-id="124" class="mc-feed-article-comments pointer"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/comment-dots.svg' %}"></div>
            <div data-id="124" class="mc-feed-article-share pointer" onclick="showShareContainer(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/share.svg' %}"></div>
            <div data-id="124" class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}"></div>
            <div data-id="124" class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}"></div>
        </div>
        <div class="display-grid">
            <span class="mc-feed-article-text-count">Likes: <span data-id="124" class="mc-feed-article-count mc-fd-art-c-like">45394</span></span>
            <span class="mc-feed-article-text-count">Comments: <span data-id="124" class="mc-feed-article-count">1123</span></span>
        </div>
    </article>

    <article class="mc-feed-article">
        <div data-id="123" class="mc-feed-article-share-container">
            <header class="mc-feed-article-share-header">
                Share
                <img data-id="123" class="mc-feed-article-share-close-img" src="{% static 'main/svg/close.svg' %}" onclick="hideShareContainer(this)">
            </header>
            <input data-id="123" type="text" class="mc-feed-article-share-input" oninput="shareFilter(this)">
            
            <div class="mc-feed-article-share-userlist custom-scrollbar">
                <div class="mc-feed-article-share-user">
                    <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}">
                    <a href="#"><div class="mc-feed-article-share-user-name">Elon Musk
                        <div class="mc-feed-article-share-user-second-name">elon</div>
                    </div></a>
                    <div class="mc-feed-article-share-user-share">Share</div>
                </div>

                <div class="mc-feed-article-share-user">
                    <img class="mc-feed-article-share-user-img" src="{% static 'main/images/ilon.jpg' %}">
                    <a href="#"><div class="mc-feed-article-share-user-name">Radmir Musk
                        <div class="mc-feed-article-share-user-second-name">egor</div>
                    </div></a>
                    <div class="mc-feed-article-share-user-share">Share</div>
                </div>

            </div>
        </div>

        <div class="mc-feed-article-userinfo">
            <a href="#">
                <div class="mc-feed-article-story">
                    <img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}">
                </div>
            </a>
            <!-- <a href="#"><img class="mc-feed-article-avatar" src="{% static 'main/images/ilon.jpg' %}"></a> -->
            <a href="#"><h2 class="mc-feed-article-username">Elon Musk</h2></a>
            <span class="mc-feed-article-time">18:40</span>
            <img data-id="123" class="mc-feed-article-menu-img" src="{% static 'main/svg/dots-vertical.svg' %}" onclick="openArticleMenu(this)">
            <div data-id="123" class="mc-feed-article-menu">
                <div data-id="123" class="mc-feed-article-menu-a mc-feed-article-menu-a-red" onclick="articleDelete(this)">Delete</div>
                <div data-id="123" class="mc-feed-article-menu-a" onclick="articleCopyLink(this)">Copy Link</div>
            </div>
        </div>
        <p class="mc-feed-article-description">ТУТ СДЕЛАЙ ТОЛЬКО 1000 символов!!!Всем привет! Как у вас проходитddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd день, что делаете сегодня? Я вот выбрал себе новые обои на робочий стол на компьютер свой :)</p>
        <div class="mc-feed-article-hashtags">
            <span>#summer</span>
            <span>#cars</span>
        </div>
        <img class="mc-feed-article-article-img" src="{% static 'main/images/p1.jpg' %}"  onclick="OnFullScreenPhoto(this)">
        <div class="mc-feed-article-activity">
            <div data-id="123" class="mc-feed-article-like pointer" onclick="addLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-white.svg' %}"></div>
            <div data-id="123" class="mc-feed-article-liked pointer" onclick="removeLikeArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/like-red.svg' %}"></div>
            <div data-id="123" class="mc-feed-article-comments pointer"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/comment-dots.svg' %}"></div>
            <div data-id="123" class="mc-feed-article-share pointer" onclick="showShareContainer(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/share.svg' %}"></div>
            <div data-id="123" class="mc-feed-article-save pointer" onclick="addSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save.svg' %}"></div>
            <div data-id="123" class="mc-feed-article-save-filled pointer" onclick="removerSaveArticle(this)"><img class="mc-feed-article-activity-img" src="{% static 'main/svg/save-filled.svg' %}"></div>
        </div>
        <div class="display-grid">
            <span class="mc-feed-article-text-count">Likes: <span data-id="123" class="mc-feed-article-count mc-fd-art-c-like">4539604</span></span>
            <span class="mc-feed-article-text-count">Comments: <span data-id="123" class="mc-feed-article-count">1123</span></span>
        </div>
    </article>
</div>