{% extends 'main/base-expanded.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/users-list.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="userlist">
    <span class="userlist-title">Post likes</span>
    <div class="userlist-line"></div>
    
    {% if users|length == 0%}
        <span class="nothing">Nothing here</span>
    {% else %}

    <span class="userlist-total">Total Users: {{ users.0.post.amount_likes }}</span>

    {% for user in users %}
        <div class="userlist-user">
            <img src="{{ user.user.profile.avatar.url }}" alt="{{ user.user.username }}'s avatar" class="userlist-user-avatar">
            <a href="{% url 'profile' username=user.user.username %}" class="userlist-user-username">
                <span class="userlist-user-username-name">
                    {{ user.user.profile.full_name }}
                    {% if user.user.profile.verify %}
                        <img class="user-verify user-verify-small" title="Verified" src="{% static 'main/svg/verify.svg' %}" alt="verified">
                    {% endif %}
                </span>
                <span class="userlist-user-username-login">{{ user.user.username }}</span>
            </a>
            {% if user.user.pk != user_profile.pk %}
                {% if user.is_follow %}
                    <div class="mc-profile-user-unfollow" data-id="{{user.user.pk}}" onclick="profileUnfollow(this)">Following</div>
                    <div class="mc-profile-user-follow" data-id="{{user.user.pk}}" style="display:none;" onclick="profileFollow(this)">Follow</div>
                {% else %}
                    <div class="mc-profile-user-follow" data-id="{{user.user.pk}}" onclick="profileFollow(this)">Follow</div>
                    <div class="mc-profile-user-unfollow" data-id="{{user.user.pk}}" style="display:none;" onclick="profileUnfollow(this)">Following</div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
</div>

<script>
    var user_id = '{{ users.0.post.author.pk  }}';
    var apiType = 'like';
    var svgVerify = "{% static 'main/svg/verify.svg' %}";
    var post_id = '{{ users.0.post.pk }}';
    var my_id = '{{ user_profile.pk }}'
</script>

{% if users|length != 0%}
    <script src="{% static 'main/JS/user-list-api.js' %}"></script>
{% endif %}


{% endblock %}