html {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0px;
    height: 100%;
    
    color-scheme: dark light;
    &[data-theme=light] { color-scheme: light; }
    &[data-theme=dark] { color-scheme: dark; }
}

body {
    transition: all 500ms ease-in-out;
    /* background: radial-gradient(circle at 50% 100%, #6995d9  0%, #90b7e2 60%); */

    /* background: radial-gradient(circle at 50% 100%, #6995d9 0%, #a7c6e8 60%); */
    /* background: radial-gradient(circle at 50% 100%, #82df7a 0%, #90cd90 60%); */
    /* background: radial-gradient(circle at 50% 100%, #d67995 0%, #ea87a8 60%); */
    /* background: radial-gradient(circle at 50% 100%, #414141 0%, #505050 60%); */

    /* background-image: url(../svg/noise.svg), radial-gradient(circle at 50% 100%, #6995d9 0%, #90b7e2 60%);
    background-repeat: repeat, no-repeat; */

    margin: 0;
    background-attachment: fixed;
    color: #fff;
    width: 100%;
    height: 100%;
    cursor: default;
}

.full-screen-photo {
    transition: all 150ms ease-in-out;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #00000077;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    opacity: 0;
}

.full-screen-span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    margin: 10px auto;
    height: 20px;
    justify-content: center;
    color: #ffffff2c;
    -webkit-text-fill-color: #ffffff2c;
    font-weight: 600;
    object-fit: cover;
}

.full-screen-content {
    position: absolute;
    height: auto;
    width: auto;
    max-height: 90%;
    max-width: 90%;
    min-width: 20%;
    min-height: 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
    z-index: 8;
}

.user-verify {
    height: 25px;
    width: 25px;
    margin: 5px;
}

video:fullscreen {
    object-fit: contain;
    border-radius: 0px;
}

input, textarea {
    color: #fff;
    -webkit-text-fill-color: #fff;
}
