.main-container {
    /* background-color: #ca7878; */
    width: fit-content;
    display: flex;
    margin: 50px auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #fff;
}

.mc-container-sidebar-container {
    /* background-color: red; */
    width: 290px;
    height: 100%;
    height: auto; 
}

.mc-container-second-sidebar-container {
    /* background-color: red; */
    width: 290px;
    height: 100%;
    height: auto; 
}

.mc-container-feed-container {
    /* background-color: green; */
    width: 592px;
    margin-bottom: 120px;
}

.mc-feed-stories-container {
    margin-top: 15px;
    gap: 5px;
    height: 110px;
    width: 100%;
    display: flex;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
}

.mc-feed-stories-container::-webkit-scrollbar {
    display: none;
}

.mc-feed-stories-story {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    /* background: linear-gradient(150deg, #d4e9ff, #497dcf); */
    position: relative;
    overflow: hidden;
    min-width: 100px;
}

.mc-feed-stories-story-container::-webkit-scrollbar {
    display: none;
  }

.mc-feed-stories-story-container {
    display: flex;
    gap: 5px;
    overflow: auto;
    border-radius: 30px;
    padding: 5px;
}

@keyframes gradient-story {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.mc-feed-article {
    transition: all 150ms ease-in-out;
    width: calc(100%-20px);
    margin: 15px 0px;
    padding: 5px;

    border-radius: 16px;
    background: rgb(255 255 255 / 15%);
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    color: #fff;
    width: 546px;
    overflow: hidden;
    padding: 10px;
    width: calc(100% - 20px);
    /* margin-top: 15px;    */
    position: relative;
}

.mc-feed-article-container {
    /* background-color: gray; */
    overflow: auto;

    border-radius: 30px;
    /* background: rgba(255, 255, 255, 0.13); */
    background: none;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    /* border: 2px solid rgba( 255, 255, 255, 0.18 ); */
}

.mc-sidebar-container {
    width: calc(100%-20px);
    margin: 15px;
    /* margin-right: 0px; */
    padding: 5px;

    border-radius: 30px;
    background: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    position: sticky;
    top: 65px;
    left: 0;
    
}

.mc-second-sidebar-container {
    width: calc(100%-20px);
    margin: 15px;
    /* margin-right: 0px; */
    padding: 5px;

    border-radius: 30px;
    background: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    position: sticky;
    top: 65px;
    left: 0;
    display: grid;
    text-align: center;
}

.mc-sidebar-container-logo{
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.mc-sidebar-container-links {
    display: grid;
    margin-top: 55px;
}

.m-mc-sb-c-links-a {
    font-size: 20px;
    color: #fff;
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 2px 15px;
    border-radius: 10px;
    opacity: 80%;
    position: relative;
    transition: all 250ms ease-in-out;
}

.mc-sb-c-links-a {
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 2px;
    border-radius: 10px;
    opacity: 80%;
    position: relative;
    transition: all 250ms ease-in-out;
}

.mc-sb-c-links-img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.mc-sb-c-links-a:hover {
    transition: all 250ms ease-in-out;
    background-color: #ffffff44;
    opacity: 100%;
}

.mc-feed-stories-scroll-left {
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 55%;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    display: none;
    user-select: none;
    z-index: 2;
    margin-left: 5px;
}

.mc-feed-stories-scroll-right {
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 55%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    right: 4px;
    display: none;
    user-select: none;
    z-index: 2;
}

.mc-feed-stories-scroll-img {
    height: 45px;
    width: 45px;
    cursor: pointer;
    user-select: none;
}

.mc-feed-stories-story-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    z-index: 0;
    position: relative;
    filter: blur(1px);
}

.mc-feed-stories-story-userinfo {
    height: fit-content;
    width: 90%;
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 15px;
    margin-right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    overflow: hidden;
    text-wrap: nowrap;
    padding: 0px 2px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 7px #00000063;
}

.mc-feed-stories-story-userinfo-img {
    height: 50px;
    width: 50px;
    position: absolute;
    margin: auto;
    margin-top: 15px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
}

.mc-second-sidebar-container-avatar {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffffff5d;
    margin: auto;
    margin-top: 25px; 
}

.mc-second-sidebar-container-username {
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
}

.mc-feed-article-story {
    width: 50px;
    height: 50px;
    background: linear-gradient(150deg, #aed5ff, #176cf5);
	background-size: 400% 400%;
	animation: gradient-story 2s ease-in-out infinite;
    border-radius: 50%;
    align-items: center;
    display: flex;
}

.mc-feed-article-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.mc-feed-article-userinfo {
    display: flex;
    align-items: center;
}

.mc-feed-article-username {
    margin-left: 10px;
    color: #fff;
}

.mc-feed-article-time {
    margin-left: auto;
    margin-right: 5px;
    color: #ffffff5d;
    -webkit-text-fill-color: #ffffff5d;
}

.mc-feed-article-article-img {
    width: 100%;
    max-height: 700px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.mc-feed-article-description {
    overflow: hidden;
}

.mc-feed-article-description-solo {
    overflow: hidden;
    font-size: 20px;
}

.mc-feed-article-activity {
    display: flex;
    margin: 0px 5px;
    grid-gap: 5px;
}


.mc-feed-article-activity-img {
    height: 40px;
    width: 40px;
}

.mc-feed-article-save {
    margin-left: auto;
}

.mc-feed-article-save-filled {
    margin-left: auto;
}

.display-grid {
    display: grid;
}

.mc-feed-article-text-count {
    margin-left: 5px;
    color: #ffffffb4;
    -webkit-text-fill-color: #ffffffb4;
}

.pointer {
    cursor: pointer;
}

.mc-feed-article-like:hover, .mc-feed-article-liked:hover, .mc-feed-article-comments:hover,
.mc-feed-article-share:hover, .mc-feed-article-save:hover, .mc-feed-article-save-filled:hover{
    opacity: 85%;
    transition: all 250ms ease-in-out;
}

.mc-feed-article-pictures-content {
    border-radius: 25px;
    padding: 0px 5px;
    padding-bottom: 5px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    gap: 5px;
}

.mc-feed-article-pictures-content img,
.mc-feed-article-pictures-content video {
    object-fit: cover;
    border: 1px solid #ffffff25;
}

.mc-feed-article-pictures-content::-webkit-scrollbar {
    height: 10px;
    background-color: #ffffff00;
}

.mc-feed-article-pictures-content::-webkit-scrollbar-thumb {
    background-color: #ffffffb9;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
    background-color: #dddddd;
    border-radius: 11px;
    width: 15px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
}


.mc-feed-article-scrollable {
    position: absolute;
    font-size: 15px;
    color: #ffffff80;
    -webkit-text-fill-color: #ffffff80;
    margin: auto;
    top: -10px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.mc-feed-article-pictures-container {
    border-radius: 30px;
    border: 2px solid #ffffff5b;
    margin: 20px 0px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
}

.mc-second-sidebar-container-links {
    color: #fff;
}

.mc-second-sidebar-container-description {
    overflow: hidden;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #ffffff94;
    -webkit-text-fill-color: #ffffff94;
    max-height: 75px;
}

.mc-second-sidebar-container-userid {
    color: #ffffff4b;
    -webkit-text-fill-color: #ffffff4b;
    font-size: 13px;
    margin-bottom: 10px;
}

.display-flex {
    display: flex;
}

.mc-feed-article-share-container {
    height: 80%;
    width: 90%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 5;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    color: #ffffffd7;
    -webkit-text-fill-color: #ffffffd7;
    padding: 5px;
    overflow: hidden;
    display: none;
}

.block-show-share {
    display: block;
    animation: showBlockShare 250ms ease-in-out forwards;
}
  
@keyframes showBlockShare {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 80%;
  }
}

.block-hide-share {
    display: block;
    animation: hideBlockShare 250ms ease-in-out forwards;
}
  
@keyframes hideBlockShare {
  0% {
    height: 80%;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
    display: none;
  }
}

.mc-feed-article-share-input {
    transition: all 150ms ease-in-out;
    background-color: #ffffff38;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;
    font-size: 25px;
    width: calc(100% - 18px);
    margin: 5px;
    border: 2px solid #ffffff3a;;
    border-radius: 5px;
    outline: none;
}


.mc-feed-article-share-input:hover {
    transition: all 150ms ease-in-out;
    border: 2px solid #ffffff7e;
}

.mc-feed-article-share-input:focus {
    transition: all 150ms ease-in-out;
    border: 2px solid #ffffffcb;
}


.mc-feed-article-share-header {
    color: #fff;
    -webkit-text-fill-color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    margin: 5px 10px;
    text-shadow: 0px 0px 15px #0000003b;
}

.mc-feed-article-share-close-img {
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    cursor: pointer;
}

.mc-feed-article-share-userlist {
    width: 100%;
    height: calc(100% - 95px);
    overflow: hidden;
    overflow-y: auto;
    border-radius: 22px;
}

.mc-feed-article-share-user {
    overflow: hidden;
    display: flex;
    height: 50px;
    width: calc(100% - 20px);
    padding: 5px;
    margin: 5px;
    border-radius: 17px;
    background: rgba(255, 255, 255, 0.295);
}

.mc-feed-article-share-user-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.mc-feed-article-share-user-name {
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;
    font-size: 20px;
    align-items: center;
    display: grid;
    margin-left: 10px;
    font-weight: 500;
    text-shadow: 0px 0px 15px #0000003b;
}

.mc-feed-article-share-user-share {
    height: 50px;
    font-size: 25px;
    padding: 0px 15px;
    background: linear-gradient(150deg, #d4e9ff, #497dcf);
	background-size: 400% 400%;
	animation: gradient-story 10s ease-in-out infinite;
    color: #fff;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-left: auto;
    border-radius: 12px;
    text-shadow: 0px 0px 15px #0000003b;
}

.mc-feed-article-share-user-second-name {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff63;
    -webkit-text-fill-color: #ffffff63;
}

.mc-feed-article-menu-img {
    height: 30px;
    width: 30px;
    opacity: 0.7;
    transition: opacity 0.5s ease; 
    cursor: pointer;
    margin-left: auto;
    transition: all 250ms ease-in-out;
}

.mc-feed-article-menu-img:hover {
    transition: all 250ms ease-in-out;
    opacity: 1;
}

.mobile-buttons {
    display: none;
    position: fixed;
    background-color: red;
    height: 50px;
    width: 50px;
    z-index: 2;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    width: fit-content;
    padding: 5px;
    gap: 10px;
}

.mobile-full-buttons {
    display: none;
    position: fixed;
    background-color: red;
    z-index: 2;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 80px;
    text-align: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    width: fit-content;
    padding: 10px;
    overflow: hidden;
}

.block-show-menu {
    display: grid;
    animation: showBlockMenu 250ms ease-in-out forwards;
}
  
@keyframes showBlockMenu {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 250px;
  }
}

.block-hide-menu {
    display: grid;
    animation: hideBlockMenu 250ms ease-in-out forwards;
}
  
@keyframes hideBlockMenu {
  0% {
    height: 190px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
    display: none;
  }
}

.m-buttons-link-img {
    height: 40px;
    width: 40px;
}

.mc-feed-article-menu {
    position: absolute;
    width: fit-content;
    background-color: #ffffff21;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 15px;
    display: none;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px 10px auto auto;
    height: fit-content;
    padding: 5px;
    transition: all 0.5s ease-in-out; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mc-feed-article-menu-a {
    color: #fff;
    -webkit-text-fill-color: #fff;
    font-size: 20px;
    width: 200px;
    text-align: center;
    opacity: 0.6;
    border-radius: 10px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    padding: 5px 0px;
    font-size: 20px;
    font-weight: 500;
    
}

.mc-feed-article-menu-a:hover {
    transition: all 150ms ease-in-out;
    opacity: 1;
    background-color: #ffffff28;;
}

.mc-feed-article-menu-a-red {
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.mc-feed-article-menu-a-red:hover {
    transition: all 150ms ease-in-out;
    background: #ff3b3b;
    opacity: 1;
    color: #fff;
    -webkit-text-fill-color: #fff;
}


.m-buttons-link {
    display: flex;
    position: relative;
    min-width: 45px;
    min-height: 45px;
    align-items: center;
    justify-content: center;
}

.block-show-article-menu {
    display: flex;
    animation: showBlockArticleMenu 250ms ease-in-out forwards;
    z-index: 2;
}
  
@keyframes showBlockArticleMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.block-hide-article-menu {
    display: flex;
    animation: hideBlockArticleMenu 250ms ease-in-out forwards;
}
  
@keyframes hideBlockArticleMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.mobile-header {
    display: none;
    padding: 0px 5px;
    margin: 5px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    position: sticky;
    left: 0;
    top: 5px;
    z-index: 2;
    color: #fff;
}

.mobile-header-buttons {
    margin: 5px;
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.mobile-header-title {
    align-items: center;
    display: flex;
}

.mobile-header-buttons-a {
    align-items: center;
    display: flex;
    position: relative;
}

.mobile-header-buttons-img {
    height: 50px;
    width: 50px;
}

@media (max-width: 1115px) {
    .mobile-buttons {
        display: flex;
    }

    .mc-container-second-sidebar-container {
        display: none;
    }

    .main-container {
        width: 850px;
    }
}


@media (max-width: 850px) {
    .mc-container-sidebar-container {
        display: none;
    }

    .main-container {
        margin-top: 10px;
        width: 592px;
    }

    .mobile-header {
        display: flex;
    }
}


@media (max-width: 595px) {
    .mc-container-feed-container {
        width: 100%;
    }

    .main-container {
        width: 100%;
        margin-top: 5px;
    }

    .mc-feed-article {
        width: auto;
        background: rgb(255 255 255 / 15%);
        margin: 15px;
    }

    .mobile-header {
        display: flex;
    }

    .mc-feed-article-share-user-share {
        font-size: 13px;
        padding: 0px 5px;
    }

    .mc-feed-article-share-user-name {
        font-size: 15px;
    }

    .mc-feed-article-username {
        font-size: 17px;
        font-weight: 500;
    }

    .mc-feed-stories-container {
        margin: 15px;
        border: none;
        background: rgb(255 255 255 / 15%);
        width: auto;
        height: 100px;
    }

    .stories-story {
        min-width: 90px;
    }

    .mc-feed-article-container {
        border: none;
        background: none;
    }
}

.mc-feed-article-hashtags {
    height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #ffffff81;
    -webkit-text-fill-color: #ffffff81;
    display: flex;
    gap: 5px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mc-feed-article-hashtags ::-webkit-scrollbar {
    display: none;
}

.mc-sb-c-links-message,
.mc-sb-c-links-notify {
    background-color: #f43f38;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
	margin-left: 30px;
    max-width: 25px;
    color: #ffffffde;
    -webkit-text-fill-color: #ffffffde;
    margin-top: 1px;
    z-index: 1;
    font-weight: 500;
}

.mc-feed-article-not-interested {
    color: #ffffffc2;
    -webkit-text-fill-color: #ffffffc2;
    font-size: 15px;
    text-align: center;
}

.mc-feed-article-show-less {
    animation: articleShowLess 1s ease-in-out forwards;
}

@keyframes articleShowLess {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  50% {
    opacity: 0;
    max-height: 20px;
  }
  100% {
    opacity: 1;
  }
}


.mc-second-sidebar-container-verify {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #ffffffec;
    -webkit-text-fill-color: #ffffffec;
    margin: 5px 0px;
    font-weight: 500;
}

.nothing {
    font-size: 20px;
    font-weight: 500;
    color: #ffffffb8;
    text-align: center;
}


.mc-feed-stories-story-userinfo-img-container {
    height: 58px;
    width: 58px;
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1; 
    background: linear-gradient(150deg, #aed5ff, #176cf5);
    background-size: 400% 400%;
    animation: gradient-story 2s ease-in-out infinite;
}

.mc-feed-stories-story-userinfo-img-nostory {
    height: 50px;
    width: 50px;
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffffffc2;
    z-index: 1;
}

.stories-story {
    aspect-ratio: 1/1;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-width: 100px;
}


.stories-story-live-avatar,
.stories-story-avatar {
    background: linear-gradient(150deg, #aed5ff, #176cf5);
    background-size: 400% 400%;
    animation: gradient-story 2s ease-in-out infinite;
    border-radius: 50%;
    width: 70%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 5px;
}

.stories-story-live-avatar {
    background: linear-gradient(150deg, #ffafaf, #ff2a2a);
}

.stories-story-avatar-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 88%;
    height: 88%;
    object-fit: cover;
    border-radius: 50%;
}


.stories-story-username {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 3px;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    color: #ffffffeb;
    -webkit-text-fill-color: #ffffffeb;
}


.stories-story-avatar-viewed-img {
    border-radius: 50%;
    width: 65%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 5px;
    object-fit: cover;
    border: 2px solid #ffffff5e;
}

@media (max-width: 595px) {

    .stories-story {
        min-width: 90px;
    }

    .mc-feed-stories-story {
        min-width: 90px
    }

    .mc-feed-stories-story-userinfo {
        font-size: 14px;
    }
}


.mc-feed-article-menu-img {
    opacity: 0;
}

.mc-feed-article:hover .mc-feed-article-menu-img {
    transition: all 550ms ease-in-out;
    opacity: 0.8;
}

.mc-feed-article-time {
    transition: all 250ms ease-in-out;
    opacity: 0;
    margin-left: auto;
    margin-right: 5px;
    color: #fff;
    -webkit-text-fill-color: #fff;
    font-weight: 500;
}

.mc-feed-article:hover .mc-feed-article-time {
    transition: all 550ms ease-in-out;
    opacity: 0.8;
}

