.mc-container-feed-container {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
}

.post-comments {
    margin: 15px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    padding: 5px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.post-comments-input {
    transition: all 150ms ease-in-out;
    width: calc(100% - 14px);
    font-size: 20px;
    border-radius: 10px 5px 5px 10px;
    border: 2px solid #ffffff2c;
    background-color: #ffffff1e;
    padding: 5px;
    outline: none;
    opacity: 0.8;
}

.post-comments-input:hover {
    transition: all 150ms ease-in-out;
    border: 2px solid #ffffff5e;
    opacity: 1;
}

.post-comments-input:focus {
    transition: all 150ms ease-in-out;
    border: 2px solid #ffffffaf;
    opacity: 1;
}

.post-comments-input::placeholder {
    -webkit-text-fill-color: #ffffff83;
}
  
.post-comments-input::-ms-input-placeholder {
    -webkit-text-fill-color: #ffffff83;
}

.post-comments-input-container {
    display: flex;
    gap: 5px;
}

.post-comments-input-send {
    transition: all 150ms ease-in-out;
    height: 37px;
    width: 37px;
    border: 2px solid #ffffff2c;
    background-color: #ffffff1e;
    border-radius: 5px 10px 10px 5px;
    opacity: 0.8;
}

.post-comments-input-send:hover {
    transition: all 150ms ease-in-out;
    border: 2px solid #ffffff5e;
    opacity: 1;
}

.post-comment {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.post-comment-user {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
}

.post-comment-user-avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.post-comment-message {
    font-size: 16px;
    margin: auto 15px auto 45px;
    overflow: auto;
    max-height: 200px;
}

.post-comment-message::-webkit-scrollbar {
    background-color: rgba(221, 221, 221, 0.137);
    border-radius: 11px;
    width: 5px;
    height: 5px;
    cursor: default;
}

.post-comment-message::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    cursor: default;
}

.post-comment-trash {
    transition: all 150ms linear;
    height: 30px;
    width: 30px;
    padding: 2px;
    margin-left: auto;
    opacity: 0.6;
    cursor: pointer;
    border-radius: 5px;
}

.post-comment-trash:hover {
    transition: all 150ms linear;
    opacity: 1;
    background-color: #ff3b3b;
}
