.mc-profile-user-background-img {
    transition: all 150ms ease-in-out;
    filter: brightness(80%);
}

.settings-edit-background {
    transition: all 250ms ease-in-out;
    display: flex;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    margin: 30px auto auto auto;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0.6;
    padding: 25px;
    cursor: pointer;
}



.mc-profile-user-avatar-img {
    filter: brightness(80%);
    cursor: default;
}

.settings-edit-avatar {
    transition: all 250ms ease-in-out;
    display: flex;
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 1;
    margin: -45px 60px auto;
    cursor: pointer;
    opacity: 0.6;
}




.settings-edit-name {
    transition: all 250ms ease-in-out;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.6;
}


.settings-edit-username {
    transition: all 250ms ease-in-out;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.settings-background-color-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.mc-profile-user-content-stat-container-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: 500;
}

.mc-profile-user-lock-span {
    display: flex;
    flex-direction: column;
}

.settings-lock-description {
    font-size: 13px;
    color: #ffffffa9;
    -webkit-text-fill-color: #ffffffa9;
}

.mc-profile-user-lock-img {
    cursor: pointer;
}

.settings-background-color {
    width: 20%;
    height: 150px;
    background-color: red;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.18);
}

.settings-background-color-blue {
    background: linear-gradient(150deg, #d4e9ff, #497dcf);
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;
}

.settings-background-color-green {
    background: linear-gradient(150deg, #c8e9c8, #55c44b);
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;
}

.settings-background-color-pink {
    background: linear-gradient(150deg, #e0b9c6, #d44d76);
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;
}

.settings-background-color-black {
    background: linear-gradient(150deg, #494949, #1f1f1f);
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 5% 50%;
	}
	50% {
		background-position: 95% 50%;
	}
	100% {
		background-position: 5% 50%;
	}
}

.overlay-background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 0;
}

.settings-edit-background-input,
.settings-edit-avatar-input {
    display: none;
}

.save-container {
    transition: all 250ms ease-in-out;
    height: 80px;
    width: 320px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: auto;
    z-index: 1;
    border-radius: 30px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.8;
    cursor: default;
    bottom: -100%;
}


.save-container-show {
    bottom: 80px;
}

.save-title {
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px 0px 10px #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logout-button {
    transition: all 250ms ease-in-out;
    background-color: #ff6262;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 0px;
    cursor: pointer;
}


.save-button {
    transition: all 150ms ease-in-out;
    width: 40%;
    padding: 5px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    background: rgb(255 255 255 / 0%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    opacity: 0.8;
    cursor: pointer;
    text-shadow: 0px 0px 15px #00000038;
}



.edit-profile-info-container {
    transition: opacity 250ms ease-in-out;
    position: fixed;
    width: 0%;
    height: 0%;
    background-color: #0000006e;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow: hidden;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.edit-profile-info-container-show {
    transition: opacity 250ms ease-in-out;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.edit-profile-info {
    display: flex;
    background: #ffffff31;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    padding: 15px;
    border-radius: 30px;
    gap: 5px;
}

.epi-title {
    font-size: 25px;
    font-weight: 500;
}

.epi-input {
    transition: all 150ms ease-in-out;
    background: #ffffff17;
    border: 2px solid #ffffff8f;
    border-radius: 10px;
    font-size: 30px;
    width: 300px;
    outline: none;
    padding: 2px 5px;
    opacity: 0.6;
}


.epi-input:focus {
    transition: all 150ms ease-in-out;
    opacity: 1;
}

.epi-input::placeholder {
    color: #ffffff49;
    -webkit-text-fill-color: #ffffff49;
  }

.epi-bio {
    font-size: 17px;
    resize: none;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.epi-save {
    transition: all 150ms ease-in-out;
    height: 40px;
    width: 80%;
    background: #ffffff4d;
    border-radius: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}


.custom-scrollbar::-webkit-scrollbar {
    background-color: rgba(221, 221, 221, 0.137);
    border-radius: 11px;
    width: 10px;
    cursor: default;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    cursor: default;
}

@media (max-width: 595px) {
    .settings-edit-avatar {
        margin: -45px 40px auto;
    }
}


@media (hover: hover) {
    .settings-edit-background:hover {
        transition: all 250ms ease-in-out;
        opacity: 1;
        transform: scale(1.4);
    }

    .settings-edit-avatar:hover {
        transition: all 250ms ease-in-out;
        opacity: 1;
        transform: scale(1.4);
    }
    
    .settings-edit-name:hover {
        transition: all 250ms ease-in-out;
        opacity: 1;
        transform: scale(1.4);
    }

    .save-container:hover {
        transition: all 250ms ease-in-out;
        opacity: 1;
    }

    .logout-button:hover {
        transition: all 250ms ease-in-out;
        background-color: #ff5353;
    }

    .save-button:hover {
        transition: all 150ms ease-in-out;
        opacity: 1;
    }

    .epi-input:hover {
        transition: all 150ms ease-in-out;
        opacity: 0.8;
    }

    .epi-save:hover {
        transition: all 150ms ease-in-out;
        opacity: 1;
    }
}


@media (hover: none) {
    .settings-edit-background:active {
        transition: all 250ms ease-in-out;
        opacity: 1;
        transform: scale(1.4);
    }

    .settings-edit-avatar:active {
        transition: all 250ms ease-in-out;
        opacity: 1;
        transform: scale(1.4);
    }
    
    .settings-edit-name:active {
        transition: all 250ms ease-in-out;
        opacity: 1;
        transform: scale(1.4);
    }

    .save-container:active {
        transition: all 250ms ease-in-out;
        opacity: 1;
    }

    .logout-button:active {
        transition: all 250ms ease-in-out;
        background-color: #ff5353;
    }

    .save-button:active {
        transition: all 150ms ease-in-out;
        opacity: 1;
    }

    .epi-input:active {
        transition: all 150ms ease-in-out;
        opacity: 0.8;
    }
    
    .epi-save:active {
        transition: all 150ms ease-in-out;
        opacity: 1;
    }
}