.userlist {
    height: fit-content;
    margin-top: 15px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userlist-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    margin: 10px auto 10px auto;
}

.userlist-line {
    border-top: 3px solid rgba(255, 255, 255, 0.212);
    border-radius: 5px;
}

.userlist-user {
    border-radius: 25px;
    background: #ffffff13;
    width: calc(100% - 10px);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    position: relative;
}

.userlist-user-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.userlist-user-username-name {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.userlist-user-username-login {
    font-size: 16px;
    color: #ffffff9f;
    -webkit-text-fill-color: #ffffff9f;
}

.userlist-user-username {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userlist-total {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff96;
    -webkit-text-fill-color: #ffffff96;
}

.nothing {
    font-size: 20px;
    font-weight: 500;
    color: #ffffffb8;
    text-align: center;
}

.mc-profile-user-follow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-right: 10px;
    height: 40px;
    width: 120px;
    font-size: 25px;
    border-radius: 15px;
    background: linear-gradient(150deg, #aed5ff, #5294ff);
    background-size: 400% 400%;
    animation: gradient-story 5s ease infinite;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    overflow: hidden;
}

.mc-profile-user-unfollow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-right: 10px;
    height: 40px;
    width: 120px;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ffffff8e;
    color: #ffffff;
    text-shadow: 0px 0px 10px #00000054;
    box-shadow: 0px 0px 15px #0000002d;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    font-weight: 600;
    overflow: hidden;
}

@media (max-width: 400px) {
    .mc-profile-user-follow,
    .mc-profile-user-unfollow {
        width: 75px;
        font-size: 15px;
    }

    .userlist-user-username-name {
        font-size: 17px;
        font-weight: 500;
    }
}
